{% macro bANDa_1(fields) %}
    <div class="-img-bAnda-1">
          <img src="{{ fields.imgBefore.src }}" alt="{{ fields.imgBefore.alt }}">
          <img src="{{ fields.imgAfter.src }}" alt="{{ fields.imgAfter.alt }}">
    </div>
{% endmacro %}