{% macro image(fields) %}
<div class="imgWrapper -img-blocks-1">
    <img class="img1" src="{{fields.img1.src}}" alt="{{fields.img1.alt}}">
    <img class="img2" src="{{fields.img2.src}}" alt="{{fields.img2.alt}}">
    <img class="img3" src="{{fields.img3.src}}" alt="{{fields.img3.alt}}">
</div>
{% endmacro %}