---
    title: Our Blogs
    hasCTA: false
    hasSubHero: true
---

{% extends "boilerplate/base.njk" %}

{% block links %}
    <link rel="stylesheet" href="/styles/blog.css">
{% endblock %}

{% block content %}
<aside>
    <div class="container blockedSection4 dropshadow1 spread">
        <h2 class="-t-h2-3">Featured Posts</h2>
        <ul class= "spread-even4">
            {% for blogPost in collections.blogPost %}
            {% set post = blogPost.data %}
            {% if post.isFeatured %}
            <li class="bgContrast2">
                <a href="/blog/{{post.slug}}" class="-card-featured">
                    <div class="imgWrapper"><img src="/assets/blog/{{post.imagePrimary}}" alt=""></div>
                    <div class="container blockedSection5">
                        <h3 class="-t-h3Small">{{post.title}}</h3>
                        <div class="subContainer">
                            <span class="-t-pSmall -flare-btnIcon-inline1"><img class="icon" src="/assets/icon_checkmark.svg" alt="">By {{post.author}}</span>
                        </div>
                    </div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>
<main>
    {% for blogPost in collections.blogPost %}
    {% set post = blogPost.data %}
    <section class="card -card-blogCard">
        <div class="imgWrapper"><img src="/assets/blog/{{post.imagePrimary}}" alt=""> </div>
        <div class="container dropshadow1">
            <div class="subContainer">
                <p class="group1 -flare-btnIcon-inline1 -t-pSmall"><img src="/assets/icon_date.svg" alt="" class="icon">{{post.date}}</p>
                <p class="group2 dropshadow1 invertColor bgContrast1 -flare-btnIcon-inline1 -t-pSmall"><img src="/assets/icon_profile_accent.svg" alt="" class="icon">By {{post.author}}</p>
            </div>
            <h2 class="-t-h2-2">{{post.title}}</h2>
            <p class="-t-pSmall">{{post.description}}</p>
            <a class="-b-spec-3" href="/blog/{{post.slug}}">Read The Blog</a>
        </div>
    </section>
    {% endfor %}
</main>
{% endblock %}