{% import 'templates/image.njk' as image %}

{% macro card(fields) %}
<li class="-card-spec-card3">
  {{image.image(fields.img)}}
  <h3>{{ fields.h3Text }}</h3>
  <p class="-t-pSmall">{{ fields.pText }}</p>
</li>
{% endmacro %}