{% macro card(fields) %}
<li class="-card-spec-faq">
  <input type="checkbox" class="faqInp invCheckbox" id="{{ fields.h3Text | slugify }}">
  <label for="{{ fields.h3Text | slugify }}">
    <h3>{{ fields.h3Text }}</h3>
    <img src="/graphics/icon_arrow_down.svg" alt="" class="icon">
  </label>
  <p>{{ fields.pText }}</p>
</li>
{% endmacro %}