{% macro image(fields) %}
    {% if fields.imgType === "imgWrapper"%}
    <div class="imgWrapper {% if fields.wrapperClass %}{{fields.wrapperClass}}{% endif %}">
        <img src="{{ fields.src }}" alt="{{fields.alt}}" class="{% if fields.imgClass %}{{fields.imgClass}}{% endif %}" {% if fields.loading %}loading="{{fields.loading}}"{% endif %}>
    </div>

    {% elif fields.imgType === "icon" %}
        <img eleventy:ignore src="{{ fields.src }}" alt="{{fields.alt}}" class="icon {% if fields.imgClass %}{{fields.imgClass}}{% endif %}" {% if fields.loading %}loading="{{fields.loading}}"{% endif %}>


    {% elif fields.imgType !==undefined %}
        {% import ("templates/images/" + fields.imgType + ".njk") as imageT %}
        {{imageT.image(
            fields
        )}}
    

    {% elif fields.imgType === undefined %}
        <img src="{{ fields.src }}" alt="{{fields.alt}}" class="{% if fields.imgClass %}{{fields.imgClass}}{% endif %}" {% if fields.loading %}loading="{{fields.loading}}"{% endif %}>
    {% endif%}

{% endmacro %}