{% import 'templates/image.njk' as image %}

{% macro spread(spread) %}
<div class="spread {% if spread.class %}{{ spread.class }}{% endif %}">
    {% for item in spread.fields%}
    {% if item.type == 'h1' %}
        <h1 class="{{ item.class | default('') }}">{{ item.text }}</h1>
    {% elif item.type == 'h2' %}
        <h2 class="{{ item.class | default('') }}">{{ item.text }}</h2>
    {% elif item.type == 'h3' %}
        <h3 class="{{ item.class | default('') }}">{{ item.text }}</h3>
    {% elif item.type == 'p' %}
        <p class="{{ item.class | default('') }}">{{ item.text }}</p>
    {% elif item.type == 'img' %}
        {{ image.image(item)}}
    {% elif item.type == 'a' %}
        <a href="{{ item.href }}" class="{{ item.class if item.class }}">{{ item.text }}</a>

    {% elif item.type == 'list' %}

        {% if item.listType == 'ul' %}

        {% elif item.listType !== undefined %}
            {% import 'templates/spreads/lists/' + item.listType + '.njk' as spreadList %}
            {{ spreadList.spreadList(item.items) }}
        {% endif%}
    {% endif %}
    {% endfor%}
</div>
{% endmacro %}