/******************************************************************************/
/*********************************** HEADER ***********************************/
/******************************************************************************/


header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99999;
    padding-bottom: calc(var(--s-headerHeight) / 3 / 3) ;
    padding-top: calc(var(--s-headerHeight) / 3 / 3);

    height: var(--s-headerHeight);
    background-color: var(--c-header);

    display: flex;

    -webkit-box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.02); 
    box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.02);

    gap: 13%;
}
header::before{
    position: absolute;
    content: "";
    background-color: var(--c-accent2);
    top: 0;
    bottom: 0;
    left: 0;

    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}


header > .logoWrapper{
    height: 100%;
    margin-right: auto;
}
header > .logoWrapper > img{
    object-fit: cover;
    width: auto;
    height: 100%;
}

header > .container{
    display: grid;
}

header .cta{
    width: max-content;
}

header ul{
    display: flex;
    gap: 1.6em;
    width: fit-content;
}
header .info{
    width: 100%;
    justify-content: space-between;
}
header ul *{
    height: min-content;
    width: auto;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}


@media screen and (min-width: 1081px){
    header::before{
        right: 70%;
    }
    
    header::after{
        position: absolute;
        content: "";
        background-color: var(--c-BG2);
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: calc(var(--s-headerHeight) / 3);
    }

    header > .container{
        flex: 1;

        grid-template-areas: 
        "info info"
        "nav cta";
        grid-template-columns: 1fr min-content;
    }
    header .info{
        grid-area: info;
    }
    header nav{
        grid-area: nav;
        margin-top: auto;
        margin-bottom: auto;
    }
    header > .container > .cta {
        grid-area: cta;
    }

    header .navMenuToggle{
        display: none;
    }
}


@media screen and (max-width: 1080px){
    
    header::before{
        right: 65%;
    }

    header .info {
        display: none;
    }

    header .invCheckbox:checked ~ .container{
        animation: slideLeft 0.2s;
    }

    header .invCheckbox:not(:checked) ~ .container{
        opacity: 0;
        animation: slideRight 0.2s;
    }
    header .invCheckbox:not(:checked) ~ .container *{
        width: 0;
        
    }

    header .navMenuToggle svg{
        height: calc(var(--s-headerHeight) / 3);
    }
    
    header .navMenuToggle .top-line,
    header .navMenuToggle .bottom-line,
    header .navMenuToggle .middle-line {
        transform-box: fill-box;
        transform-origin: center;
    }
    
    header .invCheckbox:checked ~ .navMenuToggle .top-line  {
        animation: down-rotate 0.2s ease-out both;
    }
    header .invCheckbox:checked ~ .navMenuToggle .bottom-line  {
        animation: up-rotate 0.2s ease-out both;
    }
    
    header .invCheckbox:checked ~ .navMenuToggle .middle-line  {
        animation: hide 0.2s ease-out forwards;
    }

    /* When toggled OFF */
    header .invCheckbox:not(:checked) ~ .navMenuToggle .top-line {
        animation: down-rotate-reverse 0.2s ease-out both;
    }
    header .invCheckbox:not(:checked) ~ .navMenuToggle .bottom-line {
        animation: up-rotate-reverse 0.2s ease-out both;
    }
    header .invCheckbox:not(:checked) ~ .navMenuToggle .middle-line {
        animation: show 0.2s ease-out forwards;
    }

    header .navMenuToggle{
        display: block;
        margin-bottom: auto;
        margin-top: auto;                                  
    }

    header .container{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: var(--s-spacing4) var(--s-sideMargin);
        background-color: var(--c-accent4);

        display: flex;
        flex-direction: column;
        justify-content: right;
    }
    header .container .cta {
        margin-top: 2em;
    }

    header nav {
        margin-left: auto;
        width: fit-content;
        z-index: 100;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        gap: var(--s-spacing5);
    }
    header nav ul *{
        width: fit-content;
    }
    
}



@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translatex(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(100%);
    }
}




@keyframes up-rotate {
	0% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(-10px);
	}
	100% {
		transform-origin: center;
		transform: translateY(-10px) rotate(45deg) scale(0.9);
	}
}

@keyframes down-rotate {
	0% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(10px);
	}
	100% {
		transform-origin: center;
		transform: translateY(10px) rotate(-45deg) scale(0.9);
	}
}

@keyframes hide {
	29% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes up-rotate-reverse {
	0% {
		transform-origin: center;
		transform: translateY(-10px) rotate(45deg) scale(0.9);
	}
	70% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(-10px);
	}
	100% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
}


@keyframes down-rotate-reverse {
	0% {
		transform-origin: center;
		transform: translateY(10px) rotate(-45deg) scale(0.9);
	}
	70% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(10px);
	}
	100% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	29% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/******************************************************************************/
/*********************************** FOOTER ***********************************/
/******************************************************************************/


/* Default Footer Styling */
footer{
    padding: var(--s-spacing3);

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s-spacing2);
}




footer > .infoContainer{
    display: flex;
    justify-content: space-between;
    --gapSize: calc((8 /16 * 1rem) + ((48 - 8) * ((100vw - 320px) / (1920 - 320))));
    gap: var(--gapSize);
}
footer > .infoContainer > *{
    flex: 1;
    padding-right: var(--gapSize);

    display: flex;
    gap: var(--s-spacing4);
    align-items: center;
}
footer > .infoContainer > *:not(:last-child){
    --border: solid rgba(56, 54, 54, 0.103) var(--s-border1_5);
    border-right: var(--border);
}

footer > .infoContainer > * img.icon{
    object-fit: contain;
    width: 10%;
}

footer .info-content{
    font-size: 16px;
}

@media screen and (max-width:1450px){
    footer .infoContainer > *{
        padding-right: 0;
        padding-bottom: var(--gapSize);
    }

    footer .infoContainer{
        flex-direction: column;
    }
    footer .infoContainer > *:not(:last-child){
        border-right: none;
        border-bottom: var(--border);
    }

    footer .infoContainer > * img.icon{
        height: 60%;
    }
}



footer > .container{
    display: flex;
    justify-content: space-evenly;
    gap: var(--s-spacing2);
}
footer > .container > *{
    max-width: 340px;
}

@media screen and (max-width:450px){
    footer > .container{
        flex-direction: column;
        justify-content: flex-start;
    }
}


footer h3[class]{
    font-size: 18px;
    margin-bottom: 0.5em;
}



.footer-band{
    width: 100%;
    text-align: center;
}
.footer-band, .footer-band *{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.footer-band a{
    text-decoration: underline;
}
.footer-band a:hover{
    transition: 0.2s ease-in;
    font-weight: 600;
}


/*******************************************************************************/
/*********************************** LAYOUTS ***********************************/
/*******************************************************************************/


.-l-hero{
    display: flex;
    gap: var(--s-sideMargin);
    padding-top: calc(var(--s-headerHeight) + (var(--s-sectionSpace) / 3.5));
    padding-bottom: 0;
}
.-l-hero .container{
    flex: 1;
}
.-l-hero .container > *:last-child{
    margin-bottom: var(--s-spacing1);
}
.-l-hero .imgWrapper{
    margin-top: calc(var(--s-sectionSpace) / 3.5);
    flex: 0.5;
}

.-l-hero .imgWrapper img{
    object-fit: contain;
    object-position: bottom;
}

@media screen and (max-width: 700px ){
    .-l-hero{
        flex-direction: column;
        gap: calc(var(--s-spacing1) *3);
    }
}





.-l-subHero{
    display: flex;
    justify-content: space-between;

    padding-top: calc(var(--s-headerHeight));
    padding-bottom: 0;

    height: calc((160 /16 * 1rem) + ((450 - 160) * ((100vw - 320px) / (1920 - 320))));
}

.-l-subHero > .container{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.-l-subHero > .container nav > ul{
    display: flex;
    align-items: center;
    gap: 0.8em;
}
.-l-subHero > .container nav > ul> li:not(:first-child)::before{
    color: var(--c-accent);
    font-size: 22px;
    content: ">";
    margin-right: 0.5em;
}
.-l-subHero > .container nav > ul > li{
    display: flex;
    align-items: center;
}
.-l-subHero > .container nav > ul *{
    font-family: roboto;
}
.-l-subHero > .imgWrapper{
    width: 40%;
}
.-l-subHero > .imgWrapper img{
    object-fit: cover;
}






.-l-layout1{
    display: flex;
    gap: var(--s-spacing1) /* Factor */;
    flex-direction: column;
}

@media screen and (min-width: 700px ){
    .-l-layout1{
        flex-direction: row;
    }
    .-l-layout1 .container{
        flex: 1;
    }
    .-l-layout1 .imgWrapper{
        flex: 0.8; /* Factor */
    }
}




.-l-layout2{
    display: flex;
    gap: var(--s-spacing1) /* Factor */;
    flex-direction: column;
    align-items: center;
}
.-l-layout2 > .imgWrapper {
    align-self: stretch;
}

@media screen and (min-width: 700px ){
    .-l-layout2{
        flex-direction: row;
    }
    .-l-layout2 .container{
        flex: 1;
    }
    .-l-layout2 .imgWrapper{
        flex: 0.85; /* Factor */
    }
}


.-l-layout3{
    display: flex;
    gap: var(--s-spacing1) /* Factor */;
    flex-direction: column;
    align-items: center;
}
.-l-layout3 > .imgWrapper {
    align-self: stretch;
}

@media screen and (min-width: 700px ){
    .-l-layout3{
        flex-direction: row;
    }
    .-l-layout3 .container{
        flex: 1;
    }
    .-l-layout3 .imgWrapper{
        flex: 0.5; /* Factor */
    }
}







.-l-layout4{    
    display: flex;
    gap: var(--s-spacing4);
    flex-wrap: wrap;
}

.-l-layout4 > .card {
    flex: 1;
    min-width: calc(var(--s-vpMin) - 20px);
}




.-l-layout5 > *:not(:last-child){
    margin-bottom: var(--s-spacing1);
}

@media screen and (min-width:700px){
    .-l-layout5 > .card{
        width: 65%;
    }
    .-l-layout5 > .card:nth-child(2n){
        margin-left: auto;
    }
}



.-l-layout6{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    --spacingVal: var(--s-spacing3);
    gap: var(--spacingVal);
}
.-l-layout6 > *{
    flex: 1;
    min-width: 45%;
    max-width: calc(50% - (var(--spacingVal) / 2));
    height: fit-content;
}






.-l-2colCard-2{
    display: flex;
    justify-content: space-between;
    --spacingVal: var(--s-spacing3);
    gap: var(--spacingVal);
}
.-l-2colCard-2 > .container{
    flex: 1 1 40%;
    width: calc(50% - (var(--spacingVal) / 2));

    display: flex;
    flex-direction: column;
    gap: var(--spacingVal);
}
@media screen and (max-width:1200px){
    .-l-2colCard-2{
        flex-direction: column;
    }
    .-l-2colCard-2 > .container{
        width: 100%;
    }
}




.-l-3col_spread_card_card {
    display: flex;
    gap: var(--s-spacing3);
}
.-l-3col_spread_card_card > .cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s-spacing3);

    flex: 1;
}
.-l-3col_spread_card_card > .cardContainer > *{
    height: 100%;
}

.-l-3col_spread_card_card  >.spread{
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 0.45;
}

@media screen and (min-width:1100px){
    .-l-3col_spread_card_card  >.spread > .imgWrapper{
        margin-top: auto;
    }
}

@media screen and (max-width: 1099px){
    .-l-3col_spread_card_card > .cardContainer{
        grid-template-columns: 1fr;
        flex: 0.6;
    }
}

@media screen and (max-width:700px){
    .-l-3col_spread_card_card {
        flex-direction: column;
    } 
}




.-l-2coloverlap_container_image-left-1 .container{
    position: relative;
    padding: var(--s-spacing3);
    width: 50%;
    margin-top: 10%;

    -webkit-box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.02); 
    box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.02);
}
.-l-2coloverlap_container_image-left-1 .imgWrapper{
    z-index: -1;
    position: absolute;
    top: -10%;
    right: -100%;
    left: 65%;
    bottom: -10%;
}
.-l-2coloverlap_container_image-left-1 .imgWrapper img{
    object-fit: cover;
}

@media screen and (max-width:1450px){
    .-l-2coloverlap_container_image-left-1 .container{
        width: 70%;
    }
    .-l-2coloverlap_container_image-left-1 .imgWrapper{
        right: -50%;
    }
}

@media screen and (max-width:1000px){
    .-l-2coloverlap_container_image-left-1 .container{
        width: 100%;
        margin-top: 45%;
    }

    .-l-2coloverlap_container_image-left-1 .imgWrapper{
        left: -5%;
        right: -5%;
        bottom: 40%;
        top: -30%;
    }
}

@media screen and (max-width:500px){
    .-l-2coloverlap_container_image-left-1 .imgWrapper{
        display: none;
    }
}




.-l-2col-2{
    display: flex;
    gap: var(--s-spacing3);
}
.-l-2col-2 > .container{
    flex: 1;
}

@media screen and (max-width:1000px){
    .-l-2col-2{
        flex-direction: column;
    }
}





.-l-4Col_card-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--s-spacing4);
}
.-l-4Col_card-2 > *{
    height: fit-content;
    width: 100%;
}

@media screen and (max-width:1650px){
    .-l-4Col_card-2{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1100px){
    .-l-4Col_card-2{
        grid-template-columns:  1fr 1fr;
    }
}

@media screen and (max-width:500px){
    .-l-4Col_card-2{
        grid-template-columns: 1fr ;
    }
}




.-card-team{
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing5);
    align-items: center;
    text-align: center;
}
.-card-team .imgWrapper{
    width: 100%;
}
.-card-team .imgWrapper img{
    margin: auto;
    object-fit: contain;
}



.-l-4Col_card-1{
    display: flex;
    justify-content: space-between;
}
.-l-4Col_card-1 > *{
    flex: 1;
}
.-l-4Col_card-1 > *:not(:last-child){
    border-right: solid rgba(255, 255, 255, 0.281) var(--s-border1);
}




.-card-spec-card3 > *{
    margin: auto;
}

.-card-spec-card3 > *:not(:last-child){
    margin-bottom: calc((12 /16 * 1rem) + ((26 - 12) * ((100vw - 320px) / (1920 - 320))));

}
.-card-spec-card3 .icon{
    width: auto;
    height: calc((24 /16 * 1rem) + ((60 - 24) * ((100vw - 320px) / (1920 - 320))));
}
.-card-spec-card3 h3{
    font-weight: 500;
    font-size: calc((10 /16 * 1rem) + ((50 - 10) * ((100vw - 320px) / (1920 - 320))));
    text-align: center;
}
.-card-spec-card3 p{
    font-size: calc((7 /16 * 1rem) + ((16 - 7) * ((100vw - 320px) / (1920 - 320))));
    line-height: 1;
    text-align: center;
}
.-card-spec-card3 > *{
    width: fit-content;
}





.-l-layout6-1{
    display: flex;
    gap: var(--s-spacing3);
}
.-l-layout6-1 > *{
    flex: 1;
    min-width: 45%;
    height: fit-content;
}

@media screen and (max-width:950px){
    .-l-layout6-1{
        flex-direction: column;
    }
}




.-l-gallery{
    column-count: 3;
    --gapSize: var(--s-spacing4);
    column-gap: var(--gapSize);
}

.-l-gallery > img{
    margin-bottom: var(--gapSize);
}



/*******************************************************************************/
/************************************ CARDS ************************************/
/*******************************************************************************/


.-c-testimonial-1 {
    display: flex;
    flex-direction: column;
    background-color: var(--c-BG2);
    padding: var(--s-spacing4);
    padding-right: var(--s-spacing2);
}
.-c-testimonial-1 .container{
    display: flex;

    margin-bottom: var(--s-spacing4);
}
.-c-testimonial-1 .star{
    margin-left: auto;
    height: 20px;
    width: 10%;
    min-width: 120px;

    clip-path: polygon(0 0, var(--starCount) 0, var(--starCount) 100%, 0% 100%);
}

.-c-testimonial-1 .quote{
    width: 8%;
    margin-top: var(--s-spacing4);
}


/*******************************************************************************/
/*********************************** SPREADS ***********************************/
/*******************************************************************************/


.-spr-2Col_split-1{
    display: flex;
    gap: var(--s-spacing3);
}

@media screen and (max-width:550px){
    .-spr-2Col_split-1{
        flex-direction: column;
    }
}




.-spr-3Col_card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
}
.-spr-3Col_card .-spr-card{
    flex: 1;
    min-width: 160px;
}

@media screen and (max-width:550px){
    .-spr-3Col_card{
        flex-direction: column;
    }
}


/*******************************************************************************/
/************************************ FORMS ************************************/
/*******************************************************************************/



.-form-1{
    display: flex;
    flex-direction: column;
    gap: calc(var(--s-spacing5) / 2);
}

.-form-1 .inputContainer input, .-form-1 .inputContainer textarea{
    width: 100%;
}

.-form-1 button{
    width: 100%;
}



.-form-2{
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing3);
}

.-form-2 .inputContainer input, .-form-2 .inputContainer textarea{
    width: 100%;
}

.-form-2 button{
    width: 100%;
}


.-form-2 .group{
    display: flex;
    gap: var(--s-spacing5);
}
.-form-2 .group > *{
    flex: 1;
}

@media screen and (max-width:500px){
    .-form-2 .group {
        flex-direction: column;
    }
}







.-inputContainer-1 > label{
    margin-bottom: 0.1em;
    font-size: 15px;
}

.-inputContainer-1 > input, .-inputContainer-1 > textarea{
    font-size: 16px;
    border: solid var(--s-border1) var(--c-BG3);
    padding: 0.8em;
}
.-inputContainer-1 > input:focus, .-inputContainer-1 > textarea:focus{
    border-radius: none;
    background-color: var(--c-BG2);
}

.-inputContainer-1 > textarea{
    resize: vertical;
    height: 5em;
}


.-inputContainer-2 > label{
    margin-bottom: 0.1em;
    font-size: 15px;
}

.-inputContainer-2 > input, .-inputContainer-2 > textarea{
    font-size: 16px;
    background-color: var(--c-BG);
    padding:  1.3em;

    -webkit-box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.02); 
    box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.02);
}
.-inputContainer-2 > input:focus, .-inputContainer-2 > textarea:focus{
    border-radius: none;
    background-color: var(--c-BG2);
}

.-inputContainer-2 > textarea{
    resize: vertical;
    height: 5em;
}




.-layout-1Col_card_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    gap: var(--s-spacing4);
}




.-card-info{
    display: flex;
    gap: var(--s-spacing4);
}


/*******************************************************************************/
/************************************ OTHER ************************************/
/*******************************************************************************/


.-card-spec-faq > p{
    display: none;
}

.-card-spec-faq > .faqInp:checked ~ p{
    display: block;
    animation: rotateMenu 0.2s ;
    transform-origin: top center;
}

.-card-spec-faq > *{
    margin-bottom: var(--s-spacing5);
}
.-card-spec-faq label{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.-card-spec-faq label h3{
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-right: 1em;
}
.-card-spec-faq > .faqInp:checked ~ label h3{
    overflow: visible;
    text-wrap: wrap;
}

.-card-spec-faq .icon {
    width: calc((15 /16 * 1rem) + ((30 - 15) * ((100vw - 320px) / (1920 - 320))));
    object-fit: contain;
}
.-card-spec-faq > .faqInp:checked ~ label .icon{
    rotate: 180deg;
    filter: invert(66%) sepia(73%) saturate(1027%) hue-rotate(341deg) brightness(99%) contrast(97%);
}
.-card-spec-faq{
    border-bottom: solid var(--c-FG) var(--s-border1);
}


    
@keyframes rotateMenu {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    70% {
        opacity: 100%;
    }
    90%{
        transform: translateY(10%)
    }
    100% {
        transform: translateY(0);
    }
}







.-c-design1{
    border: solid var(--c-accentLight) var(--s-border1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.-c-design1 .spread{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--s-spacing4);
}
.-c-design1 .spread > *:not(:last-child){
    margin-bottom: var(--s-spacing2);
}
.-c-design1 .spread >*{
    text-align: center;
}

.-c-design1 .icon{
    width: calc((32 /16 * 1rem) + ((72 - 32) * ((100vw - 320px) / (1920 - 320))));
}

.-c-design1 .imgWrapper{
    height: 25vh;
}



.-c-design2{
    padding: var(--s-spacing4);
    border: solid var(--s-border1_5) var(--c-accent2);
    height: fit-content;
}
.-c-design2 > *:not(:last-child){
    margin-bottom: var(--s-spacing4);
}




.-spr-card-spec-1{
    padding-left: 0.8em;
    padding-right: 0.5em;
    border-left: solid var(--s-border2) var(--c-accent);
    padding-bottom: var(--s-spacing5);
    padding-top: var(--s-spacing5);
}

.-spr-card-spec-1 > *:not(:last-child){
    margin-bottom: var(--s-spacing5);
}

.-spr-card-spec-1 .icon{
    width: calc((20 /16 * 1rem) + ((30 - 20) * ((100vw - 320px) / (1920 - 320))));
}




.-spr-list-1 {
    margin-bottom: var(--s-spacing4) !important;
    margin-top: var(--s-spacing4) !important; 
}
.-spr-list-1 li{
    --iconSize: 1em;
    position: relative;
    padding-left: 3em;
}
.-spr-list-1 li *{
    display: inline;
}
.-spr-list-1 > *:not(:last-child){
    margin-bottom: var(--s-spacing5);
}
.-spr-list-1 li::before {
    content: '';
    background-image: url("/assets/icon_checkmark.svg");
    background-repeat: no-repeat;
    background-size: contain; 
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
}



.-spr-numList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s-spacing5);

    margin-top: var(--s-spacing3);
    margin-bottom: var(--s-spacing3);

    counter-reset: list-counter; /* Initialize counter */
    list-style-type: none; /* Remove default numbering */
    padding-left: 0; /* Optional: Remove padding */
}

.-spr-numList li{
    display: flex;
    flex-direction: column;
}
.-spr-numList li h3 {
    position: relative;
        
    padding-left: 2.5em; /* Shift the heading to align after the number */
    margin-bottom: 0.75em;
}

.-spr-numList li h3::before {
    counter-increment: list-counter; /* Increment counter */
    content: "0" counter(list-counter); /* Add a leading zero */
    position: absolute;
    left: 0; /* Adjust left as needed */
    top: -0.15em;
    font-size: 1.25em; /* Adjust size to match design */
    font-weight: bold;
    color: var(--c-accent); /* Customize color */
}

@media screen and (max-width:500px){
    .-spr-numList{
        grid-template-columns: 1fr;
    }
}






.-img-blocks-1{
    display: none;
}

@media not all and (min-width:700px) and (max-width: 1200px){
    .-img-blocks-1{
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--s-spacing5);
    }
    .-img-blocks-1 .img2{
        grid-row: 1 / 3;
        grid-column:  2 / 3;
        margin-top: auto;
    }
    
    .-img-blocks-1 .img1{
        margin-left: auto;
        margin-top: auto;
        width: 90%;
        height: 80%;
    }
}






.-b-spec-1{
    font-size: calc((14 /16 * 1rem) + ((15 - 14) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 600;
    padding: 0.6em 1.8em;
    border: solid var(--s-border1) var(--c-accent2);
    position: relative;
    padding-right: 4em;
}
.-b-spec-1::after{
    content: "";
    position: absolute;
    background-image: url("/assets/icon_arrow_right_black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    right: 1.8em;
    height: 100%;
    width: 1.2em;
}


.-b-spec-2{
    font-size: 15px;
    font-weight: 600;
    position: relative;
    padding-right: 2em;
}
.-b-spec-2::after{
    content: "";
    position: absolute;
    background-image: url("/assets/icon_arrow_right_black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1.75em;
    width: 1em;
}



.-b-spec-3{
    font-size: calc((14 /16 * 1rem) + ((15 - 14) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 600;
    color: var(--c-BG);
    background-color: var(--c-accent);
    padding: 1.2em 1.8em;
    position: relative;
    padding-right: 4em;
}

.-b-spec-3::after{
    content: "";
    position: absolute;
    background-image: url("/assets/icon_arrow_right_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    right: 1.8em;
    height: 100%;
    width: 1.2em;
}

