.-c-design1{
    border: solid var(--c-accentLight) var(--s-border1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.-c-design1 .spread{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--s-spacing4);
}
.-c-design1 .spread >*{
    text-align: center;
}

.-c-design1 .icon{
    width: calc((32 /16 * 1rem) + ((56 - 32) * ((100vw - 320px) / (1920 - 320))));
}

.-c-design1 .imgWrapper{
    height: 25vh;
}




.-sp-card-design1{
    padding-left: 0.8em;
    padding-right: 0.5em;
    border-left: solid var(--s-border2) var(--c-accent);
    padding-bottom: var(--s-spacing5);
    padding-top: var(--s-spacing5);
}

.-sp-card-design1 > *:not(:last-child){
    margin-bottom: var(--s-spacing5);
}

.-sp-card-design1 .icon{
    width: calc((20 /16 * 1rem) + ((30 - 20) * ((100vw - 320px) / (1920 - 320))));
}





@media screen and (min-width:1200px){
    .-img-blocks-1{
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--s-spacing5);
    }
    .-img-blocks-1 .img2{
        grid-row: 1 / 3;
        grid-column:  2 / 3;
        margin-top: auto;
    }
    
    .-img-blocks-1 .img1{
        margin-left: auto;
        margin-top: auto;
        width: 90%;
        height: 80%;
    }
}