/*******************************************************************************/
/******************************* RESET / DEFAULT *******************************/
/*******************************************************************************/

/* ----------------- Reset ----------------- */
*{
    margin: 0;
    padding: 0;
    background: none;
    box-sizing: border-box;
    border: 0;
    color: black;
    font-style: normal;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 1em;
    position: relative;
    transition: ease 0.2s;
}
body *{
    position: relative;
    display: block;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
a, button, label{
    cursor: pointer;
    user-select: none;
}
h1, h2, h3, h4, p, a, button, label{
    width: fit-content;
    height: fit-content;
}



/* --------------- Default --------------- */

*{
    color: var(--c-FG);
}

html {
    scroll-behavior: smooth;
}

  
body{
    background-color: var(--c-BG);
}

img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}


/*******************************************************************************/
/************************************ VARS ************************************/
/*******************************************************************************/

:root{
    /* ----------------------------------- Sizes ----------------------------------- */
    --s-vpMin: 320px;
    --s-headerHeight: calc((50 /16 * 1rem) + ((130 - 50) * ((100vw - 320px) / (1920 - 320))));
    --s-sideMargin: calc((10 /16 * 1rem) + ((200 - 10) * ((100vw - 320px) / (1920 - 320))));
    --s-sectionSpace: calc((150 /16 * 1rem) + ((340 - 150) * ((100vw - 320px) / (1920 - 320))));
    --s-spacing1: calc((30 /16 * 1rem) + ((80 - 30) * ((100vw - 320px) / (1920 - 320))));
    --s-spacing2: calc((24 /16 * 1rem) + ((64 - 24) * ((100vw - 320px) / (1920 - 320))));
    --s-spacing3: calc((20 /16 * 1rem) + ((48 - 20) * ((100vw - 320px) / (1920 - 320))));
    --s-spacing4: calc((20 /16 * 1rem) + ((32 - 20) * ((100vw - 320px) / (1920 - 320))));
    --s-spacing5: calc((16 /16 * 1rem) + ((24 - 16) * ((100vw - 320px) / (1920 - 320))));
    --s-border1: calc((1 /16 * 1rem) + ((1.5 - 1) * ((100vw - 320px) / (1920 - 320))));
    --s-border1_5: calc((1.5 /16 * 1rem) + ((2 - 1.5) * ((100vw - 320px) / (1920 - 320))));
    --s-border2: calc((2 /16 * 1rem) + ((3 - 2) * ((100vw - 320px) / (1920 - 320))));
    --s-border3: calc((2 /16 * 1rem) + ((5 - 2) * ((100vw - 320px) / (1920 - 320))));

    
    /* ----------------------------------- Colors ----------------------------------- */
    --c-FG: #262424;
    --c-FG2: #3e3b3b;
    --c-FG3: #424242;
    --c-BG: #FDFDFD;
    --c-BG2: #F8F8F8;
    --c-BG3: #DDDDDD;
    --c-header: #FFFFFF;
    --c-header2: #F8F8F8;
    --c-accent: #F89C24;
    --c-accent2: #FEB04A;
    --c-accent3: #df8b1d;
    --c-accent4: #fff8ef;
    --c-accentLight: #DDDDDD;
    --c-accentLight2: #6E777D;
}

/* ---------------------------------- Invert Colors ---------------------------------- */

.invertColor{
    --c-FG: #FDFDFD;
    --c-FG2: #F8F8F8;
    --c-FG3: #DDDDDD;
    --c-BG: #262424;
    --c-BG2: #3e3b3b;
    --c-BG3: #424242;
    --c-header: #000000;
    --c-header2: #201e1e;

    --c-accentLight: #4b4848;
    --c-accentLight2: #d9e5ec;
}


.invertColor .invertColor{
    --c-FG: #262424;
    --c-FG2: #3e3b3b;
    --c-FG3: #424242;
    --c-BG: #FDFDFD;
    --c-BG2: #F8F8F8;
    --c-BG3: #DDDDDD;
    --c-header: #FFFFFF;
    --c-header2: #F8F8F8;
    --c-accentLight: #DDDDDD;
}




/*******************************************************************************/
/*********************************** BUTTONS ***********************************/
/*******************************************************************************/

header nav li, header nav{
    font-size: calc((16 /16 * 1rem) + ((18 - 16) * ((100vw - 320px) / (1920 - 320))));
    font-family: archivo;
    font-weight: 900;
}

header .info li *, header .info{
    font-size: calc((14 /16 * 1rem) + ((16 - 14) * ((100vw - 320px) / (1920 - 320))));
    font-family: archivo;
    font-weight: 400;
    color: var(--c-accentLight2);
}


/******************************************************************************/
/********************************* TYPOGRAPHY *********************************/
/******************************************************************************/


h1{
    font-size: calc((36 /16 * 1rem) + ((64 - 36) * ((100vw - 320px) / (1920 - 320))));
    font-family: roboto, sans-serif;
    font-weight: 600;
}

h2{
    font-size: calc((30 /16 * 1rem) + ((48 - 30) * ((100vw - 320px) / (1920 - 320))));
    font-family: roboto, sans-serif;
    font-weight: 500;
}
.-t-h2Small{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 0.2em;
    border-bottom: solid var(--s-border2) var(--c-accent);
}
h3{
    font-size: calc((18 /16 * 1rem) + ((20 - 18) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 700;
    font-family: roboto, sans-serif;
}

p{
    font-size: calc((16 /16 * 1rem) + ((20 - 16) * ((100vw - 320px) / (1920 - 320))));
    font-family: archivo, sans-serif;
    color: var(--c-FG3);
    font-weight: 400;
    line-height: 1.4;
}
.-t-pSmall{
    font-size: calc((15 /16 * 1rem) + ((16 - 15) * ((100vw - 320px) / (1920 - 320))));
    line-height: 1.6em;
    color: var(--c-FG2);
}
a, button, label{
    font-size: calc((16 /16 * 1rem) + ((20 - 16) * ((100vw - 320px) / (1920 - 320))));
    height: fit-content;
    font-family: titillium web, sans-serif;
}

.-t-smallHighlight{
    font-size: 16px;
    color: var(--c-accent3);
    font-family: roboto;
    font-weight: 700;
}



/*******************************************************************************/
/*********************************** LAYOUTS ***********************************/
/*******************************************************************************/

.icon{
    height: auto;
}

.section{
    padding: calc(var(--s-sectionSpace) / 2) var(--s-sideMargin);
    overflow-x: hidden; 
}
header{
    padding-left: var(--s-sideMargin);
    padding-right: var(--s-sideMargin);
}


input.invCheckbox{
    display: none;
}


/* --------------- Sets the default image height across vp widths --------------- */
img{
    max-height: 80vh;
}
@media screen and (max-width:700px){
    img{
        max-height: 45vh;
    }
}



.section > h1:not(:last-child),
.section > h2:not(:last-child),
.section > h3:not(:last-child),
.section > h4:not(:last-child){
    margin-bottom: var(--s-spacing3);
}

.section > a:last-child,
.section > button:last-child{
    margin-top: var(--s-spacing3);
}

.sectionItemCenter > h1,
.sectionItemCenter > h2,
.sectionItemCenter > h3,
.sectionItemCenter > h4,
.sectionItemCenter > a,
.sectionItemCenter > button,
.sectionItemCenter > .sectionItem{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sectionItemRight > h1,
.sectionItemRight > h2,
.sectionItemRight > h3,
.sectionItemRight > h4,
.sectionItemRight > a,
.sectionItemRight > button,
.sectionItemRight > .sectionItem{
    margin-left: auto;
    text-align: right;
}


.section{
    margin-top: -1px;
    margin-bottom: -1px;
}


/* --------------- Img overflow utility classes --------------- */

.-u-sideMarginImgOverflow-left{
    padding-left: 0;
}
.-u-sideMarginImgOverflow-right{
    padding-right: 0;
}

@media screen and (max-width:700px){
    .-u-sideMarginImgOverflow-left, .-u-sideMarginImgOverflow-right, .-u-sideMarginImgOverflow-mobile{
        padding-left: 0;
        padding-right: 0;
    }
    
    .-u-sideMarginImgOverflow-left>*:not(.section > .imgWrapper),
    .-u-sideMarginImgOverflow-right>*:not(.section > .imgWrapper),
    .-u-sideMarginImgOverflow-mobile>*:not(.section > .imgWrapper){
        padding-left: var(--s-sideMargin);
        padding-right: var(--s-sideMargin);
    }
}



@media screen and (min-width:700px){
    .narrowSection{
        --smallSidePadding: calc(var(--s-sideMargin) * 1.6);
        padding-left: var(--smallSidePadding);
        padding-right: var(--smallSidePadding);
    }

    .narrowSection2{
        --smallSidePadding: calc(var(--s-sideMargin) * 2);
        padding-left: var(--smallSidePadding);
        padding-right: var(--smallSidePadding);
    }
}



.blockedSection2{
    padding: var(--s-spacing2);
}

.blockedSection5{
    padding: var(--s-spacing5);
    background-color: var(--c-BG2);
}


.bgContrast1{
    background-color: var(--c-BG);
}
.bgContrast2{
    background-color: var(--c-BG2);
}
.bgContrast3{
    background-color: var(--c-BG3);
}


.bgHalfContrast1, .bgHalfContrast2, .bgHalfContrast3{
    position: relative;
}

.bgHalfContrast1::before, .bgHalfContrast2::before, .bgHalfContrast3::before{
    position: absolute;
    content: "";
    background-color: var(--c-BG);
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    z-index: -999;
}
.bgHalfContrast1::before{
    background-color: var(--c-BG);
}
.bgHalfContrast2::before{
    background-color: var(--c-BG2);
}
.bgHalfContrast3::before{
    background-color: var(--c-BG3);
}


.spread > *:not(:last-child){
    margin-bottom: 0.8em;
}

.spreadSmall > *:not(:last-child){
    margin-bottom: 0.2em;
}





/*******************************************************************************/
/********************************* STYLE FLARES ********************************/
/*******************************************************************************/


/* --------------- Text --------------- */

.-f-topLine-center {
    position: relative;
}
.-f-topLine-center::before {
    content: '';
    position: absolute;
    top: -0.25em;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 0.1em;
    background-color: var(--c-accent);
}


.-f-topLine-left {
    position: relative;
}
.-f-topLine-left::before {
    content: '';
    position: absolute;
    top: -0.25em;
    left: 0;
    width: 30%;
    height: 0.075em;
    background-color: var(--c-accent);
}


.-f-topLine-right {
    position: relative;
}

.-f-topLine-right::before {
    content: '';
    position: absolute;
    top: -0.25em;
    right: 0;
    width: 30%;
    height: 0.1em;
    background-color: var(--c-accent);
}


.-f-sideLine-right{
    border-right: solid var(--s-border3) var(--c-accent);
}

.-f-imageBox-1{
    position: relative;
}
.-f-imageBox-1::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 10px var(--c-accent);
    transform: rotate(-5deg);
}



.-f-imgBacksplash{
    position: relative;
}

.-f-imgBacksplash::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    left: -50%;
    bottom: 0;
    /* Adjust the position as needed */
    background-image: url('/assets/backsplash_hero.svg');
    background-size: contain; /* or 'contain', depending on your needs */
    background-repeat: no-repeat;
    background-position: bottom; /* Adjust as needed */
    z-index: -999; /* Place it behind the image */
}



.-flare-btnIcon-inline1 img.icon {
    height: 1em;
    object-fit: contain;
    width: auto;
}
.-flare-btnIcon-inline1{
    display: flex;
    gap: 1em;
}


.-f-textSideLine-left::before{
    position: absolute;
    content: "";
    left: -0.3em;
    width: 0.1em;
    top: 0.2em;
    bottom: 0.2em;
    background-color: var(--c-accent);
}


.-u-imgCrop-circle {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}


.-icon-circlePadding{
    background-color: var(--c-accent4);
    --dimension: calc((20 /16 * 1rem) + ((75 - 20) * ((100vw - 320px) / (1920 - 320))));
    height: var(--dimension);
    width: var(--dimension);
    object-fit: fill;
    padding: 3%;
    border-radius: 1000px;
}



.dropshadow1{
    -webkit-box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.02); 
    box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.02);
}