{% macro layout(fields) %}
<div class="heading sectionItemCenter">
    <h2 class="-f-topLine-center">{{field.h2Text}}</h2>
    <div class="-l-layout4">
        <div class="card -c-design1">
            <div class="spread">
                <img eleventy:ignore src="/graphics/demo_icon1.svg" alt="" eleventy:pictureattr:class="icon">
                <h3>Roof Repair and Replacement</h3>
                <p class="-t-pSmall">With over 20 years of expertise, our roofing team ensures every job is done right.</p>
            </div>
            <div class="imgWrapper"><img src="/assets/hor_test.jpg" alt="Roof repair in progress"> </div>
        </div>
        <div class="card -c-design1">
            <div class="spread">
                <img eleventy:ignore src="/graphics/demo_icon1.svg" alt="" eleventy:pictureattr:class="icon">
                <h3>Weatherproofing</h3>
                <p class="-t-pSmall">Protect your home from Ottawa’s harsh weather with our reliable weatherproofing solutions.</p>
            </div>
            <div class="imgWrapper"><img src="/assets/hor_test.jpg" alt="Weatherproofing materials"> </div>
        </div>
        <div class="card -c-design1">
            <div class="spread">
                <img eleventy:ignore src="/graphics/demo_icon1.svg" alt="" eleventy:pictureattr:class="icon">
                <h3>Eavestrough Cleaning and Maintenance</h3>
                <p class="-t-pSmall">Comprehensive cleaning, repairs, and before-and-after photos, with thorough clean-up and disposal included.</p>
            </div>
            <div class="imgWrapper"><img src="/assets/vert_test.jpg" alt="Cleaned eavestrough"> </div>
        </div>
    </div>
</div>

{% endmacro %}