{% macro footer() %}
<footer class="bgContrast2 narrowSection">
    <div class="infoContainer bgContrast1 blockedSection4">
        <div class="card">
            <img eleventy:ignore src="/graphics/icon_location_accent.svg" alt="" class="icon">
            <div class="container spread">
                <h3 class="info-title -t-h3Small">Address</h3>
                <address class="info-content">12 Winterburn Terrace, Nepean, ON K2G 5W9</address>
            </div>
        </div>
        <div class="card">
            <img eleventy:ignore src="/graphics/icon_email_accent.svg" alt="" class="icon">
            <div class="container spread">
                <h3 class="info-title -t-h3Small">Email</h3>
                <a class="info-content" href="mailto:wendallhughes58@gmail.com">wendallhughes58@gmail.com</a>
            </div>
        </div>
        <div class="card">
            <img eleventy:ignore src="/graphics/icon_phone_accent.svg" alt="" class="icon">
            <div class="container spread">
                <h3 class="info-title -t-h3Small">Phone</h3>
                <a class="info-content" href="tel:+6134221991">(613) 422-1991</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="description">
            <h3 class="-t-h3Small">Our Business</h3>
            <p>
                Trusted Ottawa handyman services and home repairs by Hughes Home Services. With 30+ years of experience, we specialize in general repairs, painting, renovations, and outdoor projects. Reliable, detail-focused, and on budget.
            </p>
        </div>
        <nav>
            <h3 class="-t-h3Small">Navigation</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
                <li><a href="/gallery">Gallery</a></li>
                {# <li><a href="/blog">Our Blog</a></li> #}
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <br>
    <div class="footer-band">Copyright 2024 <a href="https://showtheworld.digital">Show The World</a>. All rights reserved.</div>
</footer>
{% endmacro %}