{% macro header() %}
    <header>
        <a class="logoWrapper" href="/"><img src="/assets/logo.svg" alt="" class="icon logo"></a>
        <input type="checkbox" name="navMenuToggle" id="navMenuToggle" class="invCheckbox">
        <div class="container">
            <ul class="info">
                <li>
                    <a class="-flare-btnIcon-inline1" href="mailto:wendallhughes58@gmail.com">
                        <img src="/assets/icon_email.svg" alt="" eleventy:pictureattr:class="icon" class="icon">
                        <span>wendallhughes58@gmail.com</span>
                    </a>
                </li>
                <li>
                    
                    <a class="-flare-btnIcon-inline1" href="tel:+6134221991">
                        <img src="/assets/icon_phone.svg" alt="" eleventy:pictureattr:class="icon" class="icon">
                        <span>(613) 422-1991</span>
                    </a>
                </li>
                <li>
                    <div class="-flare-btnIcon-inline1">
                        <img src="/assets/icon_location.svg" alt="" eleventy:pictureattr:class="icon" class="icon">
                        <span>12 Winterburn Terrace, Nepean, ON K2G 5W9</span>
                    </div>
                </li>
                <li>
                    <time class="-flare-btnIcon-inline1" datetime="Mo-Fr 09:00-18:00">
                        <img src="/assets/icon_time.svg" alt="" eleventy:pictureattr:class="icon" class="icon">
                        <span>Mon-Sat: 9:00 AM - 5:00 PM</span>
                    </time>
                </li>
            </ul>
            <nav>
                <ul>
                    <li><a class="-b-small" href="/">Home</a></li>
                    <li><a class="-b-small" href="/about">About Us</a></li>
                    <li><a class="-b-small" href="/#services">Services</a></li>
                    <li><a class="-b-small" href="/testimonials">Testimonials</a></li>
                    <li><a class="-b-small" href="/gallery">Gallery</a></li>
                    {# <li><a class="-b-small" href="/blog">Blog</a></li> #}
                    <li><a class="-b-small" href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <label class="navMenuToggle" for="navMenuToggle">
            <svg class="icon" class="Header__toggle-svg" viewbox="0 0 60 40">
				<g stroke="#000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
					<path class="top-line" d="M10,10 L50,10 Z"></path>
					<path class="middle-line" d="M10,20 L50,20 Z"></path>
					<path class="bottom-line" d="M10,30 L50,30 Z"></path>
				</g>
			</svg>
        </label>
    </header>     
{% endmacro %}