{% import 'templates/spread.njk' as spread%}
{% import 'templates/image.njk' as image%}

{% macro layout(fields) %}
<div class="-l-hero">
    <div class="container">{{spread.spread( fields.spread )}}</div>

    
    {{image.image(fields.img, { loading: 'eager' })}}
</div>
{% endmacro %}