{% import 'templates/spread.njk' as spread%}
{% import 'templates/image.njk' as image%}

{% macro layout(fields) %}
<div class="-l-layout1">
    {{image.image(fields.img)}}
    <div class="container">
        {{spread.spread(fields.spread)}}
    </div>
</div>
{% endmacro %}