{% macro subHero(id, title, pageUrl, subHeroTitle) %}
<section id="{{id}}" class="section -l-subHero invertColor bgContrast3 -u-sideMarginImgOverflow-right">
    <div class="container">
        <h1>{{ title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ pageUrl }}">{{ subHeroTitle or title }}</a></li>
            </ul>
        </nav>
    </div>
    <div class="imgWrapper">{# <img src="/assets/demo3.jpg" alt=""> #}</div>
</section>
{% endmacro %}