{% import 'templates/spread.njk' as spread %}


{% macro spreadList(items) %}
<ul class="-spr-3Col_card">
{% for item in items %}
<li>
    {{spread.spread({
        fields: [
            {
                type: 'h3',
                text: item.h3Text
            },
            {
                type: 'p',
                text: item.pText,
                class: '-t-pSmall'
            }
        ]
    }
    )}}
</li>
{% endfor %}
</ul>
{% endmacro %}

{# 
            {
                type: 'img',
                imgType: 'icon',
                src: item.imgSrc,
                alt: item.h3Text + " Icon"
            },
 #}