---
title: Transform your Basement | Hughes Home Services

baseContent:
    heroHeading: "Ottawa’s Basement Renovation & Finishing Experts"
    heroDescription: "Looking to transform your unfinished or outdated basement? Hughes Home Services provides trusted basement renovations, remodels, and finishing services across Ottawa. Whether you're adding a family room, home office, or rental suite, we’ll turn your vision into a clean, livable space—done right, on budget, and with zero hassle."
    heroImage: "/assets/IMG_132.jpg"

    serviceAreasTitle: "Serving Nepean, Kanata, and the Greater Ottawa Area"
    servicesList:
        - "Basement Finishing & Remodels"
        - "Full Basement Renovations"
        - "Bathroom, Kitchen & Flooring Upgrades"
        - "Custom Layouts, Soundproofing & More"

    quoteFormHeading: "Get a Free Basement Renovation Quote"
    quoteFormMessage: "What would you like to do with your basement? Inquire about your project and get a quote..."

    aboutImg1: "/assets/IMG_6623.jpg"
    aboutImg2: "/assets/IMG_6765.jpg"

    aboutWhyHeading: "Why Ottawa Calls Us First for Basement Projects"
    aboutWhyText: "Our team specializes in basement finishing and remodeling projects that add value and functionality to homes. Whether it’s a home theatre, guest suite, or a quiet office, we handle the details other companies overlook—with clean work, efficient timelines, and clear communication every step of the way."

    contactFormHeading: "Partner with Ottawa’s Trusted Basement Renovation Pros"
    contactFormMessage: "What would you like to do with your basement? Inquire about your project and get a quote..."

---
{% extends "boilerplate/landing_base.njk" %}



{% block content %}
{% endblock %}