---
title: Kitchen

baseContent:
    heroHeading: "Ottawa’s Reliable Kitchen Renovation Experts"
    heroDescription: "Looking to transform your kitchen? Hughes Home Services specializes in kitchen renovations and remodeling across Ottawa. Whether it’s a modern update or a functional refresh, we deliver quality craftsmanship and attention to detail—on time and on budget."
    heroImage: "/assets/IMG_132.jpg"

    serviceAreasTitle: "Kitchen Remodeling Services Across Nepean, Kanata and the Greater Ottawa Area"
    servicesList:
        - "Custom Kitchen Renovations"
        - "Cabinetry, Countertops & Backsplashes"
        - "Flooring & Lighting Upgrades"
        - "Full-Service Planning & Installation"

    quoteFormHeading: "Get Your Kitchen Renovation Quote"
    quoteFormMessage: "What would you like to do with your deck? Inquire about your project and get a quote..."

    aboutImg1: "/assets/IMG_6623.jpg"
    aboutImg2: "/assets/IMG_6765.jpg"

    aboutWhyHeading: "Why Homeowners Call Us First"
    aboutWhyText: "We specialize in the projects larger contractors won’t take on and single handymen can’t handle. Whether it’s upgrading outdated kitchen features, replacing surfaces, or creating functional layouts for busy families, Ottawa homeowners call us first for thoughtful design and quality execution."

    contactFormHeading: "Partner with Ottawa’s Trusted Home Service Experts"
    contactFormMessage: "What would you like to do with your kitchen? Inquire about your project and get a quote..."

---
{% extends "boilerplate/landing_base.njk" %}



{% block content %}
{% endblock %}