---
    title: About Us
    hasSubHero: true
---
{% extends "boilerplate/base.njk" %}

{% block links %}
{% endblock %}


{% block content %}
<section class="section -l-layout3">
    <div class="imgWrapper"><img src="/assets/IMG_03.jpg" alt=""> </div>
    <div class="container spread">
        <h2 class="">Our Goal At Hughes Home Services Ottawa</h2>
        <p>We’re passionate about helping people maintain and enjoy their homes, especially older homeowners who take pride in their properties. My vision is to enable people to stay in their homes as long as possible by providing reliable, honest, and high-quality services. We aim to become a household name in Ottawa for small to medium jobs around the house, offering more services and expanding opportunities for our staff.</p>
    </div>
</section>



<section class="section narrowSection2 sectionItemCenter">
    <h2><div class="-t-smallHighlight">Our Story</div>How Hughes Home Services Ottawa Got Started</h2>
    <div class="spread -spr-2Col_split-1">
        <p>Hughes Home Services Ottawa was inspired by the early days of helping out with my father’s small general contracting
            company. As a teenager, I joined him in assisting homeowners with tasks around the house, and I saw firsthand how
            grateful people were for our help. These experiences sparked my dream of running my own business.</p>
        <p>Over 30 years ago, I started a home fitness and personal training business, while still doing handyman jobs on the
            side during evenings and weekends. A few years before COVID, I decided to take my handyman services full-time, not
            knowing the demand for home services would increase so quickly. Since then, I’ve hired a dedicated team, acquired a
            truck, and continued to grow Hughes Home Services into the company it is today.
        </p>
    </div>
</section>

<section class="section narrowSection invertColor bgContrast1 sectionItemCenter">
    <h2 class=""><div class="-t-smallHighlight">Our Team</div>The Hughe's Home Renovations Team</h2>
    <div class="-l-4Col_card-2 invertColor">
        <div class="card -card-team blockedSection5 bgContrast1">
            <div class="imgWrapper"><img class="-u-imgCrop-circle" src="/assets/icon_profile.svg" alt=""></div>
            <h3>Wendall Hughes</h3>
            <p class="-t-smallHighlight">Owner</p>
            <p class="-t-pSmall">Always on site, working and making sure that  ensures the satisfaction of our customers. </p>
        </div>
        <div class="card -card-team blockedSection5 bgContrast1">
            <div class="imgWrapper"><img class="-u-imgCrop-circle" src="/assets/icon_profile.svg" alt=""></div>
            <h3>Dmitri</h3>
            <p class="-t-smallHighlight">-</p>
            <p class="-t-pSmall">Over 25 years of experience as a general contractor.</p>
        </div>
        <div class="card -card-team blockedSection5 bgContrast1">
            <div class="imgWrapper"><img class="-u-imgCrop-circle" src="/assets/icon_profile.svg" alt=""></div>
            <h3>Andrew</h3>
            <p class="-t-smallHighlight">-</p>
            <p class="-t-pSmall">Over 20 years of experience as a roofer</p>
        </div>
        <div class="card -card-team blockedSection5 bgContrast1">
            <div class="imgWrapper"><img class="-u-imgCrop-circle" src="/assets/icon_profile.svg" alt=""></div>
            <h3>Gavin</h3>
            <p class="-t-smallHighlight">-</p>
            <p class="-t-pSmall"> Our youngest helper of 18 who has been with me for 3 years part-time</p>
        </div>
    </div>
</section>

{% endblock %}