---
    title: Contact Us
    hasCTA: false
    hasSubHero: true
---
{% extends "boilerplate/base.njk" %}

{% block links %}
{% endblock %}


{% block content %}
    <section class="section">
        <div class="container blockedSection2 bgContrast2 spread">
            <h2><div class="-t-smallHighlight">Contact</div> How Can We Help You?</h2>
            <div class="-l-2col-2 ">
                <form class="container -form-2" action="">
                    <div class="inputContainer -inputContainer-2">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="group">
                        <div class="inputContainer -inputContainer-2">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="inputContainer -inputContainer-2">
                            <label for="phone">Phone Number</label>
                            <input type="tel" name="phone" id="phone">
                        </div>
                    </div>
                    <div class="inputContainer -inputContainer-2">
                        <label for="message">Message</label>
                        <textarea name="message" id="message"></textarea>
                    </div>
                    <button class="-b-spec-3">Submit</button>
                </form>

                <address class="container -layout-1Col_card_1">
                    <div class="-card-info blockedSection5 bgContrast1 dropshadow1">
                        <img src="/assets/demo_icon2.svg" alt="" class="icon -icon-circlePadding">
                        <div class="container spread">
                            <h3>Call Us</h3>
                            <div class="subContainer">
                                <a href="tel:+6134221991">(613) 422-1991</a>
                            </div>
                        </div>
                    </div>
                    <div class="-card-info blockedSection5 bgContrast1 dropshadow1">
                        <img src="/assets/demo_icon2.svg" alt="" class="icon -icon-circlePadding">
                        <div class="container spread">
                            <h3>Email</h3>
                            <div class="subContainer">
                                <a href="mailto:wendallhughes58@gmail.com">wendallhughes58@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="-card-info blockedSection5 bgContrast1 dropshadow1">
                        <img src="/assets/demo_icon2.svg" alt="" class="icon -icon-circlePadding">
                        <div class="container spread">
                            <h3>Location</h3>
                            <div class="subContainer">
                                <p>12 Winterburn Terrace, Nepean, ON K2G 5W9</p>
                            </div>
                        </div>
                    </div>
                </address>
            </div>
        </div>
    </section>
{% endblock %}