---
    title: Gallery
    hasSubHero: true
---
{% extends "boilerplate/base.njk" %}

{% block links %}
{% endblock %}


{% block content %}

<main class="-l-gallery section">
    {% for image in collections.galleryImages %}
    <img 
        src="{{ image.path | url }}" 
        alt="{{ image.name }}" 
        width="{{ image.width }}" 
        height="{{ image.height }}" 
        {% if loop.index > 3 %} loading="lazy" {% endif %}>
    {% endfor %}
</main>



{% endblock %}