---
    title: Gallery
    hasSubHero: true
---
{% extends "boilerplate/base.njk" %}

{% block links %}
{% endblock %}


{% block content %}

<main class="-l-gallery section">
    {% for image in collections.galleryImages %}
    <img loading=lazy src="{{ image.path | url }}" alt="{{ image.name }}">
    {% endfor %}
</main>



{% endblock %}