---
title: Home
sections:
  - id: "hero"
    class: "noBottomPaddingSection"
    sectionItems:
    - type: "layout"
      layoutId: "hero"
      fields:
        spread:
          fields:
          - type: "h1"
            text: "Trusted Ottawa Home Repairs & Handyman Services"
          - type: "h2"
            class: "-t-h2Small"
            text: "Friendly, Reliable: Hughes Home Services Ottawa"
          - type: "p"
            text: "Welcome to Hughes Home Services Ottawa, where dependable Ottawa handyman services and home repairs meet a friendly, neighborhood approach. If you need a small fix or a full home renovation in Ottawa, our customized services can help. We handle small to medium projects—too big for a single handyman, but just right for us."
          - type: "a"
            class: "-b-spec-3"
            text: "Request a Free Quote"
            href: "/contact#form"
        img:
          imgType: "imgWrapper"
          src: "/assets/Wendall_Hughes.png"
          alt: "Wendall Hughes, Owner of Hughes Home Services Ottawa"
          wrapperClass: "-f-imgBacksplash"
  - id: "about"
    class: "bgContrast2"
    sectionItems:
    - type: "layout"
      layoutId: "layout_2"
      fields:
        img:
          imgType: "imgWrapper"
          src: "/assets/IMG_6765.jpg"
          wrapperClass: "-f-imageBox-1"
        spread:
          fields:
            - type: "h2"
              text: "Helping The People Of Ottawa Around The House!"
            - type: "p"
              text: "Hughes Home Services began with Wendall Hughes’ early experience working alongside his father in the family’s contracting business. With over 30 years of experience, Wendall and his team provide trusted Ottawa home repair and handyman services. We approach each project with care and focus on delivering results that make our clients happy."
  - id: "handyman-services"
    sectionItems:
    - type: "layout"
      layoutId: "layout_2"
      fields:
        img:
          imgType: "blocks_1"
          img1:
            src: "/assets/IMG_06.jpg"
            alt: ""
          img2:
            src: "/assets/IMG_6700.jpg"
            alt: ""
          img3:
            src: "/assets/IMG_6888.jpg"
            alt: ""
        spread:
          fields:
            - type: "h2"
              text: "Handyman Services in Ottawa"
            - type: "p"
              text: "Count on us for essential home repairs and handyman services."
            - type: "list"
              listType: "spr_list_1"
              items:
              - iconSrc: "/graphics/demo_icon2.svg"
                h3Text: "General Repairs"
                pText: "We handle everything from fixing doors to renewing caulking and assembling furniture."
              - iconSrc: "/graphics/demo_icon2.svg"
                h3Text: "Safety Enhancements"
                pText: "Install grab bars, railings, and floor transitions to make homes safer for the elderly."
              - iconSrc: "/graphics/demo_icon2.svg"
                h3Text: "Home Organization"
                pText: "Custom setups for basements or garages."
            - type: "p"
              text: "Ottawa homeowners trust our detail-focused and reliable service."
            - type: "a"
              class: "-b-spec-2"
              text: "Book a Service Consultation"
              href: "/contact#form"
  - id: "painting"
    class: "bgContrast2"
    sectionItems:
    - type: "layout"
      layoutId: "layout_1"
      fields:
        img:
          imgType: "imgWrapper"
          src: "/assets/IMG_6915.jpg"
          alt: ""
        spread:
          fields:
            - type: "h2"
              class: "-f-textSideLine-left"
              text: "Painting Services"
            - type: "p"
              text: "We offer full interior and exterior painting services for everything from a single room to an entire house, including exteriors up to two levels. Whether you’re looking to freshen up a space, prepare a home for sale, or repair areas after construction or water damage, we’ve got you covered."
            - type: "p"
              text: "We work with trusted local suppliers to provide each client with the best value and top-quality products. Our team uses dustless, sandless equipment, along with fans, tarps, and tape, for a smooth, clean finish. Upon request, we carefully move and return all furniture and wall decor, making sure everything is just as you left it."
            - type: "p"
              text: "Known for our on-time, on-budget service, we pride ourselves on leaving each job as clean as we found it."
            - type: "a"
              class: "-b-spec-1"
              text: "Get a Painting Estimate"
              href: "/contact#form"
  - id: "roofing"
    class: "sectionItemCenter"
    sectionItems:
    - type: "h2"
      text: "Roofing and Eaves Services"
      class: "-f-topLine-center"
    - type: "layout"
      layoutId: "layout_4"
      fields:
        cards: 
          cardId: "design_1"
          cardsList:
          - spread:
              fields:
              - type: "h3"
                text: "Roof Repair and Replacement"
              - type: "p"
                class: "-t-pSmall"
                text: "With over 20 years of expertise, our roofing team ensures every job is done right."
            img:
              imgType: "imgWrapper"
              src: ""
              alt: "Roof repair in progress"
          - spread:
              fields:
              - type: "h3"
                text: "Weatherproofing"
              - type: "p"
                class: "-t-pSmall"
                text: "Protect your home from Ottawa’s harsh weather with our reliable weatherproofing solutions."
            img:
              imgType: "imgWrapper"
              src: ""
              alt: "Weatherproofing materials"
          - spread:
              fields:
              - type: "h3"
                text: "Eavestrough Cleaning and Maintenance"
              - type: "p"
                class: "-t-pSmall"
                text: "Comprehensive cleaning, repairs, and before-and-after photos, with thorough clean-up and disposal included."
            img:
              imgType: "imgWrapper"
              src: ""
              alt: "Cleaned eavestrough"
  - id: "construction"
    sectionItems:
    - type: "layout"
      layoutId: "3col_spread_card_card"
      fields:
        spread:
          fields:
          - type: "h2"
            text: "Small and Medium Construction Projects"
          - type: "p"
            text: "Hughes Home Services Ottawa is here for those manageable upgrades often overlooked by big companies."
          - type: "a"
            class: "-b-spec-1"
            text: "Discuss Your Project"
            href: "/contact#form"
          - type: "img"
            imgType: "imgWrapper"
            src: "/assets/IMG_6623.jpg"
            alt: ""
        cards:
          cardId: "design_2"
          cardsList:
          - img:
              imgType: "icon"
              src: "/graphics/icon_construction_home_addition_accent.svg"
              alt: ""
              imgClass: "-icon-circlePadding"
            h3Text: "Room Additions and Basement Conversions"
            pText: "Extra space for growing families."
            aHref: "/contact#form"
            aText: "Learn About Room Additions"
          - img:
              imgType: "icon"
              src: "/graphics/icon_construction_kitchen_accent.svg"
              alt: ""
              imgClass: "-icon-circlePadding"
            h3Text: "Bathroom and Kitchen Upgrades"
            pText: "New vanities, backsplashes, and more."
            aHref: "/contact#form"
            aText: "Start Your Bathroom/Kitchen Upgrade"
          - img:
              imgType: "icon"
              src: "/graphics/icon_construction_flooring_accent.svg"
              alt: ""
              imgClass: "-icon-circlePadding"
            h3Text: "Flooring Replacement and Installations"
            pText: "Update any room's look."
            aHref: "/contact#form"
            aText: "Explore Flooring Options"
          - img:
              imgType: "icon"
              src: "/graphics/icon_construction_office_accent.svg"
              alt: ""
              imgClass: "-icon-circlePadding"
            h3Text: "Home Office Alterations"
            pText: "Soundproofing and privacy solutions for home offices."
            aHref: "/contact#form"
            aText: "Plan Your Home Office Upgrade"
  - id: "deck_bANDa"
    sectionItems:
    - type: "layout"
      class: "narrowSection slimSection"
      layoutId: "colSplit_even"
      fields:
        setOne:
          imgBefore:
            imgType: "imgWrapper"
            src: "/assets/IMG_04.jpg"
            alt: ""
          imgAfter:
            imgType: "imgWrapper"
            src: "/assets/IMG_132.jpg"
            alt: ""
        setTwo:
          imgBefore:
            imgType: "imgWrapper"
            src: "/assets/IMG_4314.jpg"
            alt: ""
          imgAfter:
            imgType: "imgWrapper"
            src: "/assets/IMG_4315.jpg"
            alt: ""
  - id: "outdoor_services"
    sectionItems:
    - type: "layout"
      layoutId: "layout_3"
      fields:
        img:
          imgType: "imgWrapper"
          src: "/assets/IMG_32.jpg"
          alt: ""
        spread:
          fields:
            - type: "h2"
              text: "Outdoor Services"
            - type: "list"
              listType: "spr_list_2"
              items:
                - h3Text: "Seasonal Yard Maintenance:"
                  pText: "Winterizing, raking leaves, and seasonal prep."
                - h3Text: "Deck and Driveway Repair:"
                  pText: "Keep outdoor areas in great condition."
                - h3Text: "Specialty Outdoor Projects:"
                  pText: "Retaining walls, pest-proofing, and custom requests like cat tree guards. We even open and close cottages."
            - type: "p"
              text: "We offer reliable outdoor services that customers appreciate."
            - type: "a"
              text: "Get Outdoor Services Now"
              class: "-b-spec-1"
              href: "/contact#form"
  - id: "why_choose_us"
    class: "bgContrast2"
    sectionItems:
    - type: "layout"
      layoutId: "layout_2"
      fields:
        img:
          imgType: "imgWrapper"
          src: "/assets/IMG_6604.jpg"
          alt: ""
        spread:
          fields:
            - type: "h2"
              text: "Why Choose Hughes Home Services?"
            - type: "p"
              text: "Here’s why Ottawa homeowners chose us to be their go to handyman:"
            - type: "list"
              listType: "spr_list_3"
              items:
                - h3Text: "Experienced Team"
                  pText: "30+ years in Ottawa home services and repair services."
                - h3Text: "Reliability"
                  pText: "We’re on time, on budget, and value your time."
                - h3Text: "Attention to Detail"
                  pText: "From start to finish, we make sure you’re happy with the result."
                - h3Text: "Flexibility"
                  pText: "We handle projects that larger contractors often don’t, or that a single handyman can’t."
            - type: "a"
              class: "-b-spec-1"
              text: "Contact Our Experienced Team"
              href: "/contact#form"
  - id: "faq"
    class: "sectionItemCenter narrowSection2"
    sectionItems:
    - type: "h2"
      text: "<div class='-t-smallHighlight'>FAQs</div>Frequently Asked Questions"
    - type: "layout"
      layoutId: "2col_card_2"
      fields:
        cards:
          cardId: "dropdown_1"
          cardsList:
          - h3Text: "Do you offer free quotes?"
            pText: "Yes, we always want to ensure we meet your requirements and offer free quotes."
          - h3Text: "Can I get current references?"
            pText: "Hughes Home Services Ottawa has many happy customers, and we are happy to connect you to our clients."
          - h3Text: "Is the owner involved in the work?"
            pText: "Yes, Wendall Hughes is always on site helping the staff and communicating with the customers."
          - h3Text: "Can you work around pets and customers working from home?"
            pText: "Yes, helping you around your home no matter the situation is possible."
          - h3Text: "Do you have insurance?"
            pText: "Of course, any reputable company will have insurance, including Hughes Home Services Ottawa."
  - id: stats
    class: "bgContrast1 invertColor narrowSection"
    sectionItems:
    - type: "layout"
      layoutId: "4col_card"
      fields:
        cards:
          cardId: "design_3"
          cardsList:
          - img:
              src: "/graphics/stats_experience.svg"
              alt: ""
            h3Text: "30+"
            pText: "Years of Experience"
          - img:
              src: "/graphics/stats_customers.svg"
              alt: ""
            h3Text: "20+"
            pText: "Years of Loyal Customers"
          - img:
              src: "/graphics/stats_projects.svg"
              alt: ""
            h3Text: "100+"
            pText: "Annual Projects"
          - img:
              src: "/graphics/stats_homedepot.svg"
              alt: ""
            h3Text: "Home Depot"
            pText: "Part of the Pros Team At Home Depot"
      


---

{% extends "boilerplate/base.njk" %}
{% block links %}{% endblock %}
{% block head %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock head %}
{% block content %}
{% import 'templates/section.njk' as sectionTemplate %}

{% for section in sections %}
{{sectionTemplate.section(section)}}
{% endfor %}
{% endblock %}