---
    title: Testimonials
    hasSubHero: true
---
{% extends "boilerplate/base.njk" %}

{% block links %}
{% endblock %}


{% block content %}
<section class="section">
<div class="-l-layout5">
    {% for testimonial in testimonials.list %}
        <div class="card -c-testimonial-1 -f-sideLine-right">
            <div class="container">
                <div class="spreadSmall subContainer">
                    <h3>{{ testimonial.name }}</h3>
                    <div class="title">{{ testimonial.title }}</div>
                </div>
                <img 
                    style="--starCount: {{ testimonial.stars * 20 }}%;" 
                    src="/assets/review_stars.svg" 
                    alt="{{ testimonial.stars }} stars" 
                    class="icon star">
        </div>
        <p>{{ testimonial.content }}</p>
        <img src="/assets/review_quote.svg" alt="quote icon" class="icon quote">
        </div>
    {% endfor %}
</div>
</section>

{% endblock %}