{% extends "boilerplate/boilerplate.njk" %}

{% block links %}
    <link rel="stylesheet" href="/styles/blog_post.css">
    {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<main class="narrowSection2">
    <section class="group1">
        <img src="/assets/blog/{{imagePrimary}}" alt="{{imageAlt}}">
        <ul class="card -card-blogInfo blockedSection4 bgContrast1 dropshadow1 spread">
            <li class="-flare-btnIcon-inline1"><img src="/assets/icon_date.svg" alt="" class="icon">{{date}}</li>
            <li class="-t-blogInfo"><span><b>Author: </b></span><span>{{author}}</span></li>
        </ul>
    </section>

    <section class="group2 spread">
        {{content | safe}}
    </section>
    
</main>
{% endblock %}
