<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5HNMZK59');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">

    <title>{{ title }}</title>
    
    <link rel="icon" type="image/png" href="/graphics/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/graphics/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/graphics/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/graphics/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/graphics/favicon/site.webmanifest" />


    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/landing1.css">
    {% block links %}{% endblock %}

    {% block head %}{% endblock %}
</head>


<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HNMZK59"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<header class="narrowSection1_5">
   <div class="logoContainer">
       <img loading="eager" eleventy:ignore alt=""  src="/graphics/logo.svg" class="icon logo">
       <img loading="eager" alt=""  src="/assets/promo1/homedepot_pros.png" class="icon logo">
   </div>
   <div class="offerContainer">
        <div class="offer">Call Now For $100 Off Your First Project over $1000</div>
        <a href="tel:+16134221991" class="-b-spec-1">(613) 422-1991</a>
   </div>
</header> 

<section id="hero" class="section hero narrowSection1_5 invertColor">
    <h1>{{ baseContent.heroHeading }}</h1>

    <div class="container">
        <div class="container">
            <p>{{ baseContent.heroDescription }}</p>
            <img loading="eager" alt="" src="{{ baseContent.heroImage }}" class="mainImg" 
                 sizes="(max-width: 501px) 90vw, (max-width: 699px) 84vw, (max-width: 950px) 72vw, (max-width: 1250px) 29vw, (min-width: 1251px) 25vw" 
                 eleventy:widths="319, 479, 718, 1077, 1168">
        </div>
        <div class="container spread">
            <span class="ratings">
                <img eleventy:ignore alt="" src="/graphics/review_stars.svg" class="stars">
                <span>Rated 5/5 Star Service</span>
            </span>
            <h2 class="h2-promo1">{{ baseContent.serviceAreasTitle }}</h2>
            <ul class="-spr-list-1">
                {% for service in baseContent.servicesList %}
                <li class="p-promoBig">{{ service }}</li>
                {% endfor %}
            </ul>
            <a class="-b-spec-3Big" href="tel:+16134221991">(613) 422-1991</a>
        </div>
    </div>
    <img loading="eager" class="bg" src="/assets/promo1/hero_bg.jpg" alt="" 
         sizes="100vw" 
         eleventy:widths="320, 480, 720, 1080, 1440">
</section>

<section id="stats" class="section bgContrast1 invertColor narrowSection1_5">
    <ul class="-l-4Col_card-1">
        <li class="-card-spec-card3">
            <img eleventy:ignore alt=""  src="/graphics/stats_experience.svg" class="icon">
            <h3>30+</h3>
            <p class="-t-pSmall">Years of Experience</p>
        </li>
        <li class="-card-spec-card3">
            <img eleventy:ignore alt=""  src="/graphics/stats_customers.svg" class="icon">
            <h3>20+</h3>
            <p class="-t-pSmall">Years of Loyal Customers</p>
        </li>
        <li class="-card-spec-card3">
            <img eleventy:ignore alt=""  src="/graphics/stats_projects.svg" class="icon">
            <h3>100+</h3>
            <p class="-t-pSmall">Annual Projects</p>
        </li>
        <li class="-card-spec-card3">
            <img eleventy:ignore alt=""  src="/graphics/stats_homedepot.svg" class="icon">
            <h3>Home Depot</h3>
            <p class="-t-pSmall">Part of the Pros Team At Home Depot</p>
        </li>
    </ul>
</section>


<section id="offer" class="section -l-2Col-offerForm narrowSection1_5">
    <div class="offerContainer">
        <div class="offerBox">
            <div class="container">
                <img eleventy:ignore alt=""  class="offer-arrow hor" src="/graphics/promo1/offer_arrow_horizontal.svg">
                <img eleventy:ignore alt=""  class="offer-arrow ver" src="/graphics/promo1/offer_arrow_vertical.svg">
                <div class="-t-offerFigure">$ 100 OFF</div>
                <div class="p-promoMedium">On First Projects Over $1000</div>
            </div>
        </div>
        <img alt="" draggable="false" class="offerImage" src="/assets/promo1/offer_quote.png" 
             sizes="(max-width: 501px) 90vw, (max-width: 699px) 84vw, (max-width: 1250px) 70vw, (min-width: 1251px) 34vw" 
             eleventy:widths="330, 495, 743, 1114, 1168">
    </div>
    <div id="quoteForm" class="formContainer dropshadow1 spread">
        <h2>{{ baseContent.quoteFormHeading }}</h2>
        <form class="-form-1" action="/thank-you-call/" name="g-campaign-1" netlify>
            <div class="inputContainer -inputContainer-1">
                <label for="name">Name</label>
                <input required type="text" name="name" id="name">
            </div>
            <div class="inputContainer -inputContainer-1">
                <label for="email">Email</label>
                <input required type="email" name="email" id="email">
            </div>
            <div class="inputContainer -inputContainer-1">
                <label for="phone">Phone Number</label>
                <input required type="tel" name="phone" id="phone">
            </div>
            <div class="inputContainer -inputContainer-1">
                <label for="message">Message</label>
                <textarea required name="message" id="message" placeholder="{{ baseContent.quoteFormMessage }}"></textarea>
            </div>
            <input class="-b-spec-3" type="submit" value="Send Message">
        </form>
    </div>
</section>

<section id="about" class="section -l-about bgContrast1 invertColor narrowSection1_5">
    <div class="imagesContainer">
        <img alt="" src="{{ baseContent.aboutImg1 or '/assets/IMG_6765.jpg' }}" class="mainImg" 
             sizes="(max-width: 393px) 44vw, (max-width: 430px) 77vw, (max-width: 699px) 42vw, (max-width: 950px) 34vw, (max-width: 1002px) 53vw, (max-width: 1024px) 25vw, (max-width: 1252px) 71vw, (max-width: 1280px) 32vw, (max-width: 1440px) 24vw, (max-width: 1451px) 69vw, (min-width: 1452px) 25vw" 
             eleventy:widths="159, 239, 358, 537, 805, 984">
        <img alt="" src="{{ baseContent.aboutImg2 or '/assets/IMG_6765.jpg' }}" class="mainImg" 
             sizes="(max-width: 393px) 44vw, (max-width: 430px) 77vw, (max-width: 699px) 42vw, (max-width: 950px) 34vw, (max-width: 1002px) 53vw, (max-width: 1024px) 25vw, (max-width: 1252px) 71vw, (max-width: 1280px) 32vw, (max-width: 1440px) 24vw, (max-width: 1451px) 69vw, (min-width: 1452px) 25vw" 
             eleventy:widths="159, 239, 358, 537, 805, 984">
    </div>
    <div class="">
        <h2 class="h2-promo1">A little About Wendall And Hughes Home Services</h2>
        <br>
        <p>Hughes Home Services was founded by Wendall Hughes, who started working in his family’s general contracting business at a young age. With over 30 years of experience in Ottawa, Wendall leads a team focused on honest, skilled work and personalized service for every home project.</p>
        <br><br><br>
        <h2 class="h2-promo1">Part of the Home Depot's Pros Team</h2>
        <br>
        <p>We’re proud to be part of Home Depot’s trusted Pros Team—recognized for our consistent quality, reliability, and professionalism in Ottawa’s home services industry.</p>
        <br><br><br>
        <h2 class="h2-promo1">{{ baseContent.aboutWhyHeading }}</h2>
        <br>
        <p>{{ baseContent.aboutWhyText }}</p>
    </div>
</section>

<section id='cta' class="section -l-2coloverlap_container_image-left-1 bgHalfContrast1 invertColor narrowSection1_5">
    <div class="container spread bgContrast1 invertColor">
        <h2><div class="-t-smallHighlight">Contact</div>{{ baseContent.contactFormHeading }}</h2>
        <form class="-form-1" action="/thank-you-call/" name="g-campaign-2" netlify>
            <div class="inputContainer -inputContainer-1">
                <label for="name">Name</label>
                <input required type="text" name="name" id="name">
            </div>
            <div class="inputContainer -inputContainer-1">
                <label for="email">Email</label>
                <input required type="email" name="email" id="email">
            </div>
            <div class="inputContainer -inputContainer-1">
                <label for="phone">Phone Number</label>
                <input required type="tel" name="phone" id="phone">
            </div>
            <div class="inputContainer -inputContainer-1">
                <label for="message">Message</label>
                <textarea required name="message" id="message" placeholder="{{ baseContent.contactFormMessage }}"></textarea>
            </div>
            <input class="-b-spec-3" type="submit" value="Send Message">
        </form>
        <div class="imgWrapper">
            <img alt="" src="/assets/IMG_6764.jpg" 
                 sizes="(max-width: 500px) 0vw, (max-width: 501px) 96vw, (max-width: 699px) 93vw, (max-width: 1000px) 78vw, (max-width: 1024px) 41vw, (max-width: 1252px) 77vw, (max-width: 1440px) 40vw, (max-width: 1451px) 68vw, (min-width: 1452px) 44vw" 
                 eleventy:widths="511, 767, 1150, 1286">
        </div>
    </div>
</section>





    <footer class="bgContrast2 narrowSection">
        <div class="infoContainer bgContrast1 blockedSection4">
            <div class="card">
                <img eleventy:ignore alt=""  src="/graphics/icon_location_accent.svg" class="icon">
                <div class="container spread">
                    <h3 class="info-title -t-h3Small">Address</h3>
                    <address class="info-content">12 Winterburn Terrace, Nepean, ON K2G 5W9</address>
                </div>
            </div>
            <div class="card">
                <img eleventy:ignore alt=""  src="/graphics/icon_email_accent.svg" class="icon">
                <div class="container spread">
                    <h3 class="info-title -t-h3Small">Email</h3>
                    <a class="info-content" href="mailto:wendallhughes58@gmail.com">wendallhughes58@gmail.com</a>
                </div>

            </div>
            <div class="card">
                <img eleventy:ignore alt=""  src="/graphics/icon_phone_accent.svg" class="icon">
                <div class="container spread">
                    <h3 class="info-title -t-h3Small">Phone</h3>
                    <a class="info-content" href="tel:+6134221991">(613) 422-1991</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="description">
                <h3 class="-t-h3Small">Our Business</h3>
                <p>
                    Trusted Ottawa handyman services and home repairs by Hughes Home Services. With 30+ years of experience, we specialize in general repairs, painting, renovations, and outdoor projects. Reliable, detail-focused, and on budget.
                </p>
            </div>
            <nav>
                <h3 class="-t-h3Small">Navigation</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/testimonials">Testimonials</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    {# <li><a href="/blog">Our Blog</a></li> #}
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <div class="footer-band">Copyright 2024 <a href="https://showtheworld.digital">Show The World</a>. All rights reserved.</div>
    </footer>
</body>
</html>