{% import 'templates/layouts/header.njk' as header %}
{% import 'templates/layouts/footer.njk' as footer %}
{% import 'templates/layouts/sub-hero.njk' as subHero %}
{% import 'templates/layouts/cta.njk' as cta %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5HNMZK59');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <link rel="icon" type="image/png" href="/graphics/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/graphics/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/graphics/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/graphics/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/graphics/favicon/site.webmanifest" />


    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/layouts.css">
    {% block links %}{% endblock %}

    {% block head %}{% endblock %}
</head>



<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HNMZK59"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    
    {% if hasHeader | default(true) %}
        {{ header.header() }}
    {% endif %}



    {% if hasSubHero | default(false) %}
        {{ subHero.subHero(h1Val or title, page.url, subHeroTitle or title) }}
    {% endif %}

    {% block content %}{% endblock %}




    {% if hasCTA | default(true) %}
        {{ cta.cta() }}
    {% endif %}

    {% if hasFooter | default(true) %}
        {{ footer.footer() }}
    {% endif %}

    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>
</body>
</html>