---
    title: Title
---
{% extends "boilerplate/boilerplate_promo_landing1.njk" %}

{% block links %}
    {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}