---
title: Transform your Deck | Hughes Home Services
baseContent:
    heroHeading: "Ottawa’s Reliable Deck Installation & Repair Experts"
    heroDescription: "Looking for expert deck installation or repair in Ottawa? Hughes Home Services delivers durable, attractive, and reliable deck solutions tailored to your home. Whether you’re starting from scratch or fixing wear and tear, we make outdoor living easy and worry-free."
    heroImage: "/assets/promo1/deck_hero.jpg"

    serviceAreasTitle: "Serving Nepean, Kanata, and Greater Ottawa with Trusted Deck Services"
    servicesList:
        - "Deck Installation & Rebuilds"
        - "Rot Repair, Board Replacements & Railings"
        - "Staining, Sealing & Weatherproofing"
        - "Custom Outdoor Carpentry Projects"

    quoteFormHeading: "Get a Free Deck Quote"
    quoteFormMessage: "What would you like to do with your deck? Inquire about your project and get a quote..."

    aboutImg1: "/assets/promo1/deck_before.jpg"
    aboutImg2: "/assets/promo1/deck_after.jpg"

    aboutWhyHeading: "Why Homeowners Call Us First"
    aboutWhyText: "Deck projects often fall into that tricky space—not quite big enough for a general contractor, but too complex for a solo handyman. That’s where we shine. Whether it's repairing rotted posts, installing a new surface, or refreshing your deck’s finish, we handle it all with precision and care."

    contactFormHeading: "Partner with Ottawa’s Trusted Home Service Experts"
    contactFormMessage: "What would you like to do with your deck? Inquire about your project and get a quote..."







---
{% extends "boilerplate/landing_base.njk" %}



{% block content %}
{% endblock %}