---
    title: Home
    hasFooter: false
---
{% extends "boilerplate/base.njk" %}

{% block links %}
{% endblock %}


{% block content %}
{# <section class="section -l-hero">
    <div class="container spread">
        <h1>Trusted Ottawa Home Repairs & Handyman Services</h1>
        <h2 class="-t-h2Small">Friendly, Reliable: Hughes Home Servies Ottawa</h2>
        <p>Welcome to Hughes Home Services Ottawa, where dependable Ottawa handyman services and home repairs meet a friendly, neighborhood approach. If you need a small fix or a full home renovation in Ottawa, our customized services can help. We handle small to medium projects—too big for a single handyman, but just right for us.</p>
        <a href="" class="-b-spec-1">[CTA]</a>
    </div>
    <div class="imgWrapper"><img src="/assets/Wendall_Hughes.png" alt=""></div>
</section> #}

<img style="padding-top: var(--s-headerHeight); user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;" src="/assets/hero.png" alt="">


<section class="section -l-2Col_img_spread-2 bgContrast2">
    <div class="imgWrapper -f-imageBox-1"><img src="/assets/demo4.jpg" alt=""></div>
    <div class="container spread">
        <h2>Helping The People Of Ottawa Around The House! </h2>
        <p>Hughes Home Services began with Wendall Hughes’ early experience working alongside his father in the family’s contracting business. With over 30 years of experience, Wendall and his team provide trusted Ottawa home repair and handyman services. We approach each project with care and focus on delivering results that make our clients happy.</p>
    </div>
</section>


<section class="section -l-2Col_img_spread-2">
    <div class="imgWrapper -img-blocks-1">
        <img class="img1" src="/assets/square_land.jpg" alt="">
        <img class="img2" src="/assets/square_land.jpg" alt="">
        <img class="img3" src="/assets/square_land.jpg" alt="">
    </div>
    <div class="container spread">
        <h2>Handyman Services in Ottawa</h2>
        <p>Count on us for essential home repairs and handyman services.</p>
        <ul class="-sp-3Col_card">
            <li class="-sp-card -sp-card-design1 -c-spread-1">
                <img src="/assets/demo_icon2.svg" alt="" class="icon">
                <h3 class="-t-h3Small">General Repairs</h3>
                <p class="-t-pSmall">We handle everything from fixing doors to renewing caulking and assembling furniture.</p>
            </li>
            <li class="-sp-card -sp-card-design1 -c-spread-1">
                <img src="/assets/demo_icon2.svg" alt="" class="icon">
                <h3 class="-t-h3Small">Safety Enhancements</h3>
                <p class="-t-pSmall">Install grab bars, railings, and floor transitions to make homes safer for the elderly.</p>
            </li>
            <li class="-sp-card -sp-card-design1 -c-spread-1">
                <img src="/assets/demo_icon2.svg" alt="" class="icon">
                <h3 class="-t-h3Small">Home Organization</h3>
                <p class="-t-pSmall">Custom setups for basements or garages.</p>
            </li>
        </ul>
        <p>Ottawa homeowners trust our detail-focused and reliable service.</p>
        <button class="-b-spec-2">Click Now</button>
    </div>
</section>


<section class="section -l-2Col_img_spread-1">
    <div class="imgWrapper"><img src="/assets/demo4.jpg" alt=""> </div>
    <div class="container spread">
        <h2 class="">Painting Services</h2>
        <p>We offer full interior and exterior painting services for everything from a single room to an entire house, including
            exteriors up to two levels. Whether you’re looking to freshen up a space, prepare a home for sale, or repair areas after
            construction or water damage, we’ve got you covered.
            <br><br>We work with trusted local suppliers to provide each client with the best value and top-quality products. Our
            team uses dustless, sandless equipment, along with fans, tarps, and tape, for a smooth, clean finish. Upon request, we
            carefully move and return all furniture and wall decor, making sure everything is just as you left it.
            <br><br>Known for our on-time, on-budget service, we pride ourselves on leaving each job as clean as we found it.</p>
        <button class="-b-spec-1">Call To Action!</button>
    </div>
</section>



    <section class="section heading sectionItemCenter">
        <h2>Roofing and Eaves Services</h2>
        <div class="-l-3Card-1">
            <div class="card -c-design1">
                <div class="spread">
                    <img src="/assets/demo_icon1.svg" alt="" class="icon">
                    <h3 class="-t-h3Small">Roof Repair and Replacement</h3>
                    <p class="-t-pSmall">Our roofing pro, Andrew, brings 20 years of experience to every job.</p>
                </div>
                <div class="imgWrapper"><img src="/assets/hor_test.jpg" alt=""> </div>
            </div>
            <div class="card -c-design1">
                <div class="spread">
                    <img src="/assets/demo_icon1.svg" alt="" class="icon">
                    <h3 class="-t-h3Small">Weatherproofing</h3>
                    <p class="-t-pSmall">Shield your home from Ottawa’s tough weather.</p>
                </div>
                <div class="imgWrapper"><img src="/assets/hor_test.jpg" alt=""> </div>
            </div>
            <div class="card -c-design1">
                <div class="spread">
                    <img src="/assets/demo_icon1.svg" alt="" class="icon">
                    <h3 class="-t-h3Small">Eavestrough Cleaning and Maintenance</h3>
                    <p class="-t-pSmall">Cleaning, repairs, and before-and-after photos, with full clean-up and disposal.</p>
                </div>
                <div class="imgWrapper"><img src="/assets/vert_test.jpg" alt=""> </div>
            </div>
        </div>
    </section>


    <section class="section -l-3col_spread_card_card">
    <div class="spread">
        <h2>Small and Medium Construction Projects</h2>
        <p>Hughes Home Services Ottawa is here for those manageable upgrades often overlooked by big companies</p>
        <a href="" class="-b-spec-1">Contact us</a>
        <div class="imgWrapper"><img src="/assets/demo7.jpg" alt=""></div>
    </div>
    <div class="cardContainer">
        <div class="-c-design2">
            <img src="/assets/demo_icon2.svg" alt="" class="icon">
            <h3>Room Additions and Basement Conversions</h3>
            <p>Extra space for growing families.</p>
            <a href="" class="-b-spec-2">Contact Us</a>
        </div>
        <div class="-c-design2">
            <img src="/assets/demo_icon2.svg" alt="" class="icon">
            <h3>Bathroom and Kitchen Upgrades</h3>
            <p>New vanities, backsplashes, and more.</p>
            <a href="" class="-b-spec-2">Contact Us</a>
        </div>
        <div class="-c-design2">
            <img src="/assets/demo_icon2.svg" alt="" class="icon">
            <h3>Flooring Replacement and Installations</h3>
            <p>Update any room's look</p>
            <a href="" class="-b-spec-2">Contact Us</a>
        </div>
        <div class="-c-design2">
            <img src="/assets/demo_icon2.svg" alt="" class="icon">
            <h3>Home Office Alterations</h3>
            <p>Soundproofing and privacy solutions for home offices.</p>
            <a href="" class="-b-spec-2">Contact Us</a>
        </div>
    </div>
</section>


<section class="section -l-2Col_img_spread-3">
    <div class="imgWrapper"><img src="/assets/demo4.jpg" alt=""> </div>
    <div class="container spread">
        <h2 class="">Outdoor Services</h2>
        <ul class="-sp-list-1">
            <li><h3 class="-t-h3Small">Seasonal Yard Maintenance:</h3> Winterizing, raking leaves, and seasonal prep.</li>
            <li><h3 class="-t-h3Small">Deck and Driveway Repair:</h3> Keep outdoor areas in great condition.</li>
            <li><h3 class="-t-h3Small">Specialty Outdoor Projects:</h3> Retaining walls, pest-proofing, and custom requests like cat tree guards. We even open and close cottages. </li>
        </ul>
        <p>We offer reliable outdoor services that customers appreciate. </p>
        <button class="-b-spec-1">Click Now</button>
    </div>
</section>


<section class="section -l-2Col_img_spread-2 bgContrast2">
    <div class="imgWrapper"><img src="/assets/demo2.jpg" alt=""></div>
    <div class="container spread">
        <h2>Why Choose Hughes Home Services?</h2>
        <p>Here’s why Ottawa homeowners chose us to be their go to handyman:</p>
        <ol class="-sp-numList">
            <li>
                <h3 class="-t-h3Small">Experienced Team</h3><br>
                <p>30+ years in Ottawa home services and repair services.</p>
            </li>
            <li>
                <h3 class="-t-h3Small">Reliability</h3><br>
                <p>We’re on time, on budget, and value your time.</p>
            </li>
            <li>
                <h3 class="-t-h3Small">Attention to Detail</h3><br>
                <p>From start to finish, we make sure you’re happy with the result.</p>
            </li>
            <li>
                <h3 class="-t-h3Small">Flexibility</h3><br>
                <p>We handle projects that larger contractors often don’t, or that a single handyman can’t.</p>
            </li>
        </ol>
        <button class="-b-spec-1">Click Now</button>
    </div>
</section>



<section class="section -faq-1 sectionItemCenter">
<h2>Frequently Asked Questions</h2>
    <div class="-l-2colCard-2">
        <ul class="container">
            <li class="faqCard ">
                <input type="checkbox" class="faqInp invCheckbox" id="faq1">
                <label for="faq1">
                    <h3 class="-t-h3Small">Do you offer free quotes?</h3>
                    <img src="/assets/icon_arrow_down.svg" alt="" class="icon">
                </label>
                <p>Yes,  are always wanting to ensure we meet your requirements and offer free quotes.</p>
            </li>
            <li class="faqCard ">
                <input type="checkbox" class="faqInp invCheckbox" id="faq2">
                <label for="faq2">
                    <h3 class="-t-h3Small">Can I get current references?</h3>
                    <img src="/assets/icon_arrow_down.svg" alt="" class="icon">
                </label>
                <p>Hughes Home Services Ottawa has many happy customers , we are happy to connect  you to our clients.</p>
            </li>
                <li class="faqCard ">
                <input type="checkbox" class="faqInp invCheckbox" id="faq3">
                <label for="faq3">
                    <h3 class="-t-h3Small">Is the owner involved in the work?</h3>
                    <img src="/assets/icon_arrow_down.svg" alt="" class="icon">
                </label>
                <p>Yes, Wendall Hughes is always on site helping the staff and communicating with the customers.</p>
            </li>
        </ul>
        <ul class="container">
            <li class="faqCard ">
                <input type="checkbox" class="faqInp invCheckbox" id="faq4">
                <label for="faq4">
                    <h3 class="-t-h3Small">Can you work around pets and customers working from home?</h3>
                    <img src="/assets/icon_arrow_down.svg" alt="" class="icon">
                </label>
                <p>Yes helping you around your home no matter the situation is possible.</p>
            </li>
            <li class="faqCard ">
                <input type="checkbox" class="faqInp invCheckbox" id="faq5">
                <label for="faq5">
                    <h3 class="-t-h3Small">Do you have insurance?</h3>
                    <img src="/assets/icon_arrow_down.svg" alt="" class="icon">
                </label>
                <p>Of course, any reputable will have insurance Including Hughes Home Services Ottawa.</p>
            </li>
        </ul>
    </div>
</section>


<section class="section -l-4Col_card-1 bgContrast1 invertColor narrowSectioninvertColor">
    <ul>
        <li>
            <img src="/assets/stats_experience.svg" alt="" class="icon">
            <h3>30+</h3>
            <p>Years of Experience</p>
        </li>
        <li>
            <img src="/assets/stats_customers.svg" alt="" class="icon">
            <h3>20+</h3>
            <p>Years of Loyal Customers</p>
        </li>
        <li>
            <img src="/assets/stats_projects.svg" alt="" class="icon">
            <h3>100+</h3>
            <p>Annual Projects</p>
        </li>
        <li>
            <img src="/assets/stats_homedepot.svg" alt="" class="icon">
            <h3>Home Depot</h3>
            <p>Part of the Pros Team At Home Depot</p>
        </li>
    </ul>
</section>


    <section class="section narrowSection -l-2coloverlap_container_image-left-1 bgHalfContrast1 invertColor">
        <div class="container spread bgContrast1 invertColor">
            <h2>Partner with Ottawa’s Trusted Home Service Experts</h2>
            <form class="-form-1" action="">
                <div class="inputContainer -inputContainer-1">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="inputContainer -inputContainer-1">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="inputContainer -inputContainer-1">
                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" id="phone">
                </div>
                <div class="inputContainer -inputContainer-1">
                    <label for="message">Message</label>
                    <textarea name="message" id="message"></textarea>
                </div>
                <button class="-b-spec-1">Submit</button>
            </form>
            <div class="imgWrapper"><img src="/assets/demo1.jpg" alt=""></div>
        </div>
    </section>

{% endblock %}