---
    title: Testimonials
    hasFooter: false
---
{% extends "boilerplate/base.njk" %}

{% block links %}
{% endblock %}


{% block content %}
    <section class="section -l-subHero invertColor bgContrast2 -u-sideMarginImgOverflow-right">
        <div class="container">
            <h1>Testimonials</h1>
            <nav>
                <li><a href="/">Home</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
            </nav>
        </div>
        <div class="imgWrapper"><img src="/assets/demo3.jpg" alt=""></div>
    </section>



    <section class="section">
        <div class="-l-zigzag-1">
            <div class="card -c-testimonial-1 -f-sideLine">
                <div class="container">
                    <div class="spreadSmall subContainer">
                        <h3 class="-t-h3Small">Pat and Roger</h3>
                        <div class="title">Home Owners</div>
                    </div>
                    <img src="/assets/review_stars.svg" alt="" class="icon star">
                </div>
                <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They
                    are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family
                    who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them
                    highly. As they have done many jobs for us, the costs have always been fair.</p>
                <img src="/assets/review_quote.svg" alt="" class="icon quote">
            </div>
            <div class="card -c-testimonial-1 -f-sideLine">
                <div class="container">
                    <div class="spreadSmall subContainer">
                        <h3 class="-t-h3Small">Pat and Roger</h3>
                        <div class="title">Home Owners</div>
                    </div>
                    <img src="/assets/review_stars.svg" alt="" class="icon star">
                </div>
                <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They
                    are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family
                    who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them
                    highly. As they have done many jobs for us, the costs have always been fair.</p>
                <img src="/assets/review_quote.svg" alt="" class="icon quote">
            </div>
            <div class="card -c-testimonial-1 -f-sideLine">
                <div class="container">
                    <div class="spreadSmall subContainer">
                        <h3 class="-t-h3Small">Pat and Roger</h3>
                        <div class="title">Home Owners</div>
                    </div>
                    <img src="/assets/review_stars.svg" alt="" class="icon star">
                </div>
                <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They
                    are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family
                    who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them
                    highly. As they have done many jobs for us, the costs have always been fair.</p>
                <img src="/assets/review_quote.svg" alt="" class="icon quote">
            </div>
            <div class="card -c-testimonial-1 -f-sideLine">
                <div class="container">
                    <div class="spreadSmall subContainer">
                        <h3 class="-t-h3Small">Pat and Roger</h3>
                        <div class="title">Home Owners</div>
                    </div>
                    <img src="/assets/review_stars.svg" alt="" class="icon star">
                </div>
                <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They
                    are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family
                    who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them
                    highly. As they have done many jobs for us, the costs have always been fair.</p>
                <img src="/assets/review_quote.svg" alt="" class="icon quote">
            </div>
            <div class="card -c-testimonial-1 -f-sideLine">
                <div class="container">
                    <div class="spreadSmall subContainer">
                    <h3 class="-t-h3Small">Pat and Roger</h3>
                  <div class="title">Home Owners</div>
                </div>
            <img src="/assets/review_stars.svg" alt="" class="icon star">
                </div>
                <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They
                    are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family
                    who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them
                    highly. As they have done many jobs for us, the costs have always been fair.</p>
                <img src="/assets/review_quote.svg" alt="" class="icon quote">
            </div>
        </div>
    </section>

{% endblock %}