---
    title: Home
    hasFooter: true
    hasHeader: true
---
{% extends "boilerplate/dev_base.njk" %}

{% block head %}

{% endblock %}

{% block content %}
<section class="section -l-2Col_img_spread-1">
    <div class="imgWrapper"><img src="/dev/assets/hor_test.jpg" alt=""></div>
    <div class="container spread">
        <h2 class="-f-topLine-left">This is a header</h2>
        <p>We offer full interior and exterior painting services for everything from a single room to an entire house, including exteriors up to two levels. Whether you’re looking to freshen up a space, prepare a home for sale, or repair areas after construction or water damage, we’ve got you covered.
        <br><br>We work with trusted local suppliers to provide each client with the best value and top-quality products. Our team uses dustless, sandless equipment, along with fans, tarps, and tape, for a smooth, clean finish. Upon request, we carefully move and return all furniture and wall decor, making sure everything is just as you left it.
        <br><br>Known for our on-time, on-budget service, we pride ourselves on leaving each job as clean as we found it.</p>
        <button class="-b-1">Click Now</button>
    </div>
</section>


<section class="section -l-2Col_img_spread-2">
    <div class="imgWrapper -img-blocks-1">
        <img class="img1" src="/dev/assets/square_land.jpg" alt="">
        <img class="img2" src="/dev/assets/square_land.jpg" alt="">
        <img class="img3" src="/dev/assets/square_land.jpg" alt="">
    </div>
    <div class="container spread">
        <h2>This is a header</h2>
        <p>Count on us for essential home repairs and handyman services.</p>
        <ul class="-sp-3Col_card">
            <li class="-sp-card -sp-card-design1 -c-spread-1">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">We handle everything from fixing doors to renewing caulking and assembling furniture.</p>
            </li>
            <li class="-sp-card -sp-card-design1 -c-spread-1">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">Install grab bars, railings, and floor transitions to make homes safer for the elderly.</p>
            </li>
            <li class="-sp-card -sp-card-design1 -c-spread-1">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">Custom setups for basements or garages.</p>
            </li>
        </ul>
        <p>Ottawa homeowners trust our detail-focused and reliable service.</p>
        <button class="-b-1">Click Now</button>
    </div>
</section>

<section class="section -faq-1 sectionItemCenter">
    <h2>FAQ thingy</h2>
    <ul>
        <li class="dropDownFaq">
            <input type="checkbox" class="faqInp invCheckbox" id="faq1">
            <label for="faq1">
                <h3>insert common question here</h3>
            </label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, assumenda. Officiis iure quibusdam quis earum!</p>
        </li>
    </ul>
</section>

<section class="section narrowSection -l-2Col_img_spread-2 bgContrast1 invertColor">
    <div class="imgWrapper"><img src="/dev/assets/vert_test.jpg" alt=""></div>
    <div class="container spread">
        <p>Over 30 years ago, I started a home fitness and personal training business, while still doing handyman jobs on the side during evenings and weekends. A few years before COVID, I decided to take my handyman services full-time, not knowing the demand for home services would increase so quickly. Since then, I’ve hired a dedicated team, acquired a truck, and continued to grow Hughes Home Services into the company it is today. </p>
    </div>
</section>

<section class="section">
    <div class="spread -sp-2Col_split-1">
        <p>Hughes Home Services Ottawa was inspired by the early days of helping out with my father’s small general contracting company. As a teenager, I joined him in assisting homeowners with tasks around the house, and I saw firsthand how grateful people were for our help. These experiences sparked my dream of running my own business.</p>
        <p>Over 30 years ago, I started a home fitness and personal training business, while still doing handyman jobs on the side during evenings and weekends. A few years before COVID, I decided to take my handyman services full-time, not knowing the demand for home services would increase so quickly. Since then, I’ve hired a dedicated team, acquired a truck, and continued to grow Hughes Home Services into the company it is today. </p>
    </div>
</section>

<section class="section narrowSection bgContrast3 sectionItemCenter">

    <h2>this is heading</h2>
    <div class="spread -sp-2Col_split-1">
        <p>Hughes Home Services Ottawa was inspired by the early days of helping out with my father’s small general contracting company. As a teenager, I joined him in assisting homeowners with tasks around the house, and I saw firsthand how grateful people were for our help. These experiences sparked my dream of running my own business.</p>
        <p>Over 30 years ago, I started a home fitness and personal training business, while still doing handyman jobs on the side during evenings and weekends. A few years before COVID, I decided to take my handyman services full-time, not knowing the demand for home services would increase so quickly. Since then, I’ve hired a dedicated team, acquired a truck, and continued to grow Hughes Home Services into the company it is today. </p>
    </div>
</section>
<section class="section narrowSection bgContrast3 sectionItemRight">
    <h2>this is heading</h2>
    <div class="spread -sp-2Col_split-1">
        <p>Hughes Home Services Ottawa was inspired by the early days of helping out with my father’s small general contracting company. As a teenager, I joined him in assisting homeowners with tasks around the house, and I saw firsthand how grateful people were for our help. These experiences sparked my dream of running my own business.</p>
        <p>Over 30 years ago, I started a home fitness and personal training business, while still doing handyman jobs on the side during evenings and weekends. A few years before COVID, I decided to take my handyman services full-time, not knowing the demand for home services would increase so quickly. Since then, I’ve hired a dedicated team, acquired a truck, and continued to grow Hughes Home Services into the company it is today. </p>
    </div>
</section>


<section class="section -l-2Col_img_spread-2">
    <div class="imgWrapper"><img src="/dev/assets/square_land.jpg" alt=""></div>
    <div class="container spread">
        <h2>This is a header</h2>
        <p>Hughes Home Services began with Wendall Hughes’ early experience working alongside his father in the family’s contracting business. With over 30 years of experience, Wendall and his team provide trusted Ottawa home repair and handyman services. We approach each project with care and focus on delivering results that make our clients happy.</p>
        <button class="-b-1">Click Now</button>
    </div>
</section>



<section class="section -l-2Col_img_spread-2">
    <div class="imgWrapper"><img src="/dev/assets/vert_test.jpg" alt=""></div>
    <div class="container spread">
        <h2>This is a header</h2>
        <p>Hughes Home Services began with Wendall Hughes’ early experience working alongside his father in the family’s contracting business. With over 30 years of experience, Wendall and his team provide trusted Ottawa home repair and handyman services. We approach each project with care and focus on delivering results that make our clients happy.</p>
        <button class="-b-1">Click Now</button>
    </div>
</section>

<section class="section heading sectionItemCenter">
    <h2>Roofing and Eaves Services</h2>
    <div class="-l-3Card-1">
        <div class="card -c-design1">
            <div class="spread">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">insert paragraph</p>
            </div>
            <div class="imgWrapper"><img src="/dev/assets/hor_test.jpg" alt=""></div>
        </div>
        <div class="card -c-design1">
            <div class="spread">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">Lorem ipsum dolor sit amet consectetur.
                Magnam numquam eum tenetur asperiores excepturi.</p>
            </div>
            <div class="imgWrapper"><img src="/dev/assets/hor_test.jpg" alt=""></div>
        </div>
        <div class="card -c-design1">
            <div class="spread">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">insert paragraph</p>
            </div>
            <div class="imgWrapper"><img src="/dev/assets/vert_test.jpg" alt=""></div>
        </div>
    </div>
</section>


    <section class="section">
    <h2>Roofing and Eaves Services</h2>
    <div class="-l-3Card-2">
        <div class="card -c-design1">
            <div class="spread">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">insert paragraph</p>
            </div>
            <div class="imgWrapper"><img src="/dev/assets/hor_test.jpg" alt=""></div>
        </div>
        <div class="card -c-design1">
            <div class="spread">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">Lorem ipsum dolor sit amet consectetur.
                Magnam numquam eum tenetur asperiores excepturi.</p>
            </div>
            <div class="imgWrapper"><img src="/dev/assets/hor_test.jpg" alt=""></div>
        </div>
        <div class="card -c-design1">
            <div class="spread">
                <img src="/dev/assets/icon_square.svg" alt="" class="icon">
                <h3>insert heading</h3>
                <p class="-t-pSmall">insert paragraph</p>
            </div>
            <div class="imgWrapper"><img src="/dev/assets/vert_test.jpg" alt=""></div>
        </div>
    </div>
</section>


<section class="section">
    <div class="-l-zigzag-1">
        <div class="card -c-testimonial-1">
            <div class="container">
                <div class="spreadSmall subContainer">
                    <h3>Pat and Roger</h3>
                    <div class="title">Home Owners</div>
                </div>
                <img src="/dev/assets/icon_square.svg" alt="" class="icon star">
            </div>
            <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them highly.
As they have done many jobs for us, the costs have always been fair.</p>
            <img src="/dev/assets/icon_square.svg" alt="" class="icon quote">
        </div>
        <div class="card -c-testimonial-1">
            <div class="container">
                <div class="spreadSmall subContainer">
                    <h3>Pat and Roger</h3>
                    <div class="title">Home Owners</div>
                </div>
                <img src="/dev/assets/icon_square.svg" alt="" class="icon star">
            </div>
            <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them highly.
As they have done many jobs for us, the costs have always been fair.</p>
            <img src="/dev/assets/icon_square.svg" alt="" class="icon quote">
        </div>
        <div class="card -c-testimonial-1">
            <div class="container">
                <div class="spreadSmall subContainer">
                    <h3>Pat and Roger</h3>
                    <div class="title">Home Owners</div>
                </div>
                <img src="/dev/assets/icon_square.svg" alt="" class="icon star">
            </div>
            <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them highly.
As they have done many jobs for us, the costs have always been fair.</p>
            <img src="/dev/assets/icon_square.svg" alt="" class="icon quote">
        </div>
        <div class="card -c-testimonial-1">
            <div class="container">
                <div class="spreadSmall subContainer">
                    <h3>Pat and Roger</h3>
                    <div class="title">Home Owners</div>
                </div>
                <img src="/dev/assets/icon_square.svg" alt="" class="icon star">
            </div>
            <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them highly.
As they have done many jobs for us, the costs have always been fair.</p>
            <img src="/dev/assets/icon_square.svg" alt="" class="icon quote">
        </div>
        <div class="card -c-testimonial-1">
            <div class="container">
                <div class="spreadSmall subContainer">
                    <h3>Pat and Roger</h3>
                    <div class="title">Home Owners</div>
                </div>
                <img src="/dev/assets/icon_square.svg" alt="" class="icon star">
            </div>
            <p>We have used Hughes Home Services for more than 5 years. They have always been reliable and reasonably priced. They are prompt to reply and make every effort to meet our needs. We have recommended them to many of our friends and family who have always thanked us. They have been particularly helpful as we prepare our home for selling. We recommend them highly.
As they have done many jobs for us, the costs have always been fair.</p>
            <img src="/dev/assets/icon_square.svg" alt="" class="icon quote">
        </div>

    </div>
</section>


<section class="section -l-2Col_img_spread-2">
    <div class="imgWrapper"><img src="/dev/assets/hor_test.jpg" alt=""></div>
    <div class="container spread">
        <h2>This is a header</h2>
        <p>Hughes Home Services began with Wendall Hughes’ early experience working alongside his father in the family’s contracting business. With over 30 years of experience, Wendall and his team provide trusted Ottawa home repair and handyman services. We approach each project with care and focus on delivering results that make our clients happy.</p>
        <button class="-b-1">Click Now</button>
    </div>
</section>
{% endblock %}